In [2]:
import json
import pandas as pd 

f = open('train/day-0.json')
data = json.load(f)

In [3]:
df = pd.json_normalize(data)

In [10]:
# данные о печах
ovens = pd.json_normalize(data['ovens'])
ovens

,start_temp,working_temps,operations
0,1220,"[960, 1030, 1190, 1100, 1230, 1070, 1110, 1080...","[prokat, kovka]"
1,990,"[980, 1190, 1030, 1100, 990]","[otzhig, kovka]"
2,1220,"[970, 1060, 1220]",[otzhig]
3,1020,"[1060, 1100, 1140, 1240, 1150, 1020]",[kovka]
4,1020,"[970, 1100, 1070, 980, 1180, 990, 1020]",[otzhig]
...,...,...,...
417,1240,"[960, 1040, 1180, 1070, 1240]",[kovka]
418,1050,"[1030, 1160, 1040, 980, 1110, 1020, 990, 1050]",[prokat]
419,1140,"[1060, 1230, 1040, 1170, 990, 1140]",[kovka]
420,950,"[1030, 1190, 1160, 1070, 980, 950]",[prokat]
421,1150,"[1220, 1030, 1160, 1100, 1230, 1050, 1150]","[otzhig, prokat]"

In [4]:
# данные о сериях
series = pd.json_normalize(data['series'])
series

      temperature                                         operations
0            1080  [{'name': 'nagrev', 'timing': 245}, {'name': '...
1             970  [{'name': 'nagrev', 'timing': 62}, {'name': 'o...
2            1080  [{'name': 'nagrev', 'timing': 76}, {'name': 'k...
3             980  [{'name': 'nagrev', 'timing': 96}, {'name': 'o...
4             980  [{'name': 'nagrev', 'timing': 82}, {'name': 'p...
...           ...                                                ...
2589          960  [{'name': 'nagrev', 'timing': 281}, {'name': '...
2590         1060  [{'name': 'nagrev', 'timing': 248}, {'name': '...
2591         1000  [{'name': 'nagrev', 'timing': 182}, {'name': '...
2592         1090  [{'name': 'nagrev', 'timing': 204}, {'name': '...
2593         1020  [{'name': 'nagrev', 'timing': 274}, {'name': '...

[2594 rows x 2 columns]

In [22]:
# excel 
import numpy as np

series = pd.read_excel('ПланОМД.xlsm', sheet_name='Серии')
series
series = series.drop(columns=['статус', 'Сплав', 'Гр. спл.', 'Бойки'])
series

,№слитка-индекс-часть,"кол. в садке, шт",Температура,нагрев,подогрев,подогрев.1,подогрев.2,подогрев.3
0,"34-8993-18№1,2",2.0,950.0,115-105,105-90,90-90,NaN,NaN
1,NaN,NaN,NaN,2ч+15м ковка,1ч+15м ковка,1ч+15м ковка,NaN,NaN
2,"34-8993-18№3,4",2.0,950.0,115-105,105-90,90-90,NaN,NaN
3,NaN,NaN,NaN,2ч+15м ковка,1ч+15м ковка,1ч+15м ковка,NaN,NaN
4,"34-8993-18№5,6",2.0,950.0,115-105,105-90,90-90,NaN,NaN
...,...,...,...,...,...,...,...,...
343,NaN,NaN,NaN,3ч+15м прокат,NaN,NaN,NaN,NaN
344,2513-18,2.0,960.0,220-150,NaN,NaN,NaN,NaN
345,NaN,NaN,NaN,3ч+15м прокат,NaN,NaN,NaN,NaN
346,2523-18,2.0,960.0,220-150,NaN,NaN,NaN,NaN
347,NaN,NaN,NaN,3ч+15м прокат,NaN,NaN,NaN,NaN

In [23]:

for i in range(0, series.shape[0], 2):
    series.iloc[i, 3:8] = series.iloc[i+1, 3:8]
    # series = series.drop(labels = [i+1],axis = 0)
    
series

series_clear = series[series.index % 2 != 1]
series_clear
series_reindex = series_clear.reset_index(drop=True)
series_reindex
series_with_op = series_reindex
series_with_op
for i in [1, 4, 7, 10, 13]:
    if i==1:
        series_with_op[f'нагрев_operation_{i}'] = series_with_op['нагрев'].apply(lambda x: int(x[0]) if type(x) == str else np.NaN)
        series_with_op[f'ковка_operation_{i+1}'] = series_with_op['нагрев'].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='ковка' else np.NaN)
        series_with_op[f'прокат_operation_{i+2}'] = series_with_op['нагрев'].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='прокат' else np.NaN)
    if i==4:
        series_with_op[f'нагрев_operation_{i}'] = series_with_op['подогрев'].apply(lambda x: int(x[0]) if type(x) == str else np.NaN)
        series_with_op[f'ковка_operation_{i+1}'] = series_with_op['подогрев'].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='ковка' else np.NaN)
        series_with_op[f'прокат_operation_{i+2}'] = series_with_op['подогрев'].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='прокат' else np.NaN)
    elif i==7:
        series_with_op[f'нагрев_operation_{i}'] = series_with_op[f'подогрев.1'].apply(lambda x: int(x[0]) if type(x) == str else np.NaN)
        series_with_op[f'ковка_operation_{i+1}'] = series_with_op[f'подогрев.1'].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='ковка' else np.NaN)
        series_with_op[f'прокат_operation_{i+2}'] = series_with_op[f'подогрев.1'].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='прокат' else np.NaN)
    elif i==10:
        series_with_op[f'нагрев_operation_{i}'] = series_with_op[f'подогрев.2'].apply(lambda x: int(x[0]) if type(x) == str else np.NaN)
        series_with_op[f'ковка_operation_{i+1}'] = series_with_op[f'подогрев.2'].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='ковка' else np.NaN)
        series_with_op[f'прокат_operation_{i+2}'] = series_with_op[f'подогрев.2'].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='прокат' else np.NaN)
    elif i==13:
        series_with_op[f'нагрев_operation_{i}'] = series_with_op[f'подогрев.3'].apply(lambda x: int(x[0]) if type(x) == str else np.NaN)
        series_with_op[f'ковка_operation_{i+1}'] = series_with_op[f'подогрев.3'].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='ковка' else np.NaN)
        series_with_op[f'прокат_operation_{i+2}'] = series_with_op[f'подогрев.3'].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='прокат' else np.NaN)
        
series_with_op
series_with_op_clear = series_with_op.drop(columns=['нагрев', 'подогрев', 'подогрев.1', 'подогрев.2', 'подогрев.3'])
series_with_op_clear

,№слитка-индекс-часть,"кол. в садке, шт",Температура,нагрев_operation_1,ковка_operation_2,прокат_operation_3,нагрев_operation_4,ковка_operation_5,прокат_operation_6,нагрев_operation_7,ковка_operation_8,прокат_operation_9,нагрев_operation_10,ковка_operation_11,прокат_operation_12,нагрев_operation_13,ковка_operation_14,прокат_operation_15
0,"34-8993-18№1,2",2.0,950.0,2,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"34-8993-18№3,4",2.0,950.0,2,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"34-8993-18№5,6",2.0,950.0,2,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"34-8993-18№7,8",2.0,950.0,2,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"34-8993-18№9,10",2.0,950.0,2,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,34-8973-18,1.0,1100.0,3,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,2483-18,2.0,960.0,3,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,2493-18,2.0,960.0,3,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,2513-18,2.0,960.0,3,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,2523-18,2.0,960.0,3,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# --
series_with_op_clear.describe()
series_with_op_clear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   №слитка-индекс-часть  174 non-null    object
 1   кол. в садке, шт      174 non-null    float64
 2   Температура           174 non-null    float64
 3   нагрев_operation_1    174 non-null    int64
 4   ковка_operation_2     123 non-null    float64
 5   прокат_operation_3    48 non-null     float64
 6   нагрев_operation_4    84 non-null     float64
 7   ковка_operation_5     84 non-null     float64
 8   прокат_operation_6    0 non-null      float64
 9   нагрев_operation_7    66 non-null     float64
 10  ковка_operation_8     66 non-null     float64
 11  прокат_operation_9    0 non-null      float64
 12  нагрев_operation_10   12 non-null     float64
 13  ковка_operation_11    12 non-null     float64
 14  прокат_operation_12   0 non-null      float64
 15  нагрев_operation_13   0 non-null      float64
 16  ковка_operation_14    0 non-null      float64
 17  прокат_operation_15   0 non-null      float64
dtypes: float64(16), int64(1), object(1)
memory usage: 24.6+ KB

In [25]:
series_with_op_clear['нагрев_operation_1'] = series_with_op_clear['нагрев_operation_1'].astype(float)
series_with_op_clear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   №слитка-индекс-часть  174 non-null    object
 1   кол. в садке, шт      174 non-null    float64
 2   Температура           174 non-null    float64
 3   нагрев_operation_1    174 non-null    float64
 4   ковка_operation_2     123 non-null    float64
 5   прокат_operation_3    48 non-null     float64
 6   нагрев_operation_4    84 non-null     float64
 7   ковка_operation_5     84 non-null     float64
 8   прокат_operation_6    0 non-null      float64
 9   нагрев_operation_7    66 non-null     float64
 10  ковка_operation_8     66 non-null     float64
 11  прокат_operation_9    0 non-null      float64
 12  нагрев_operation_10   12 non-null     float64
 13  ковка_operation_11    12 non-null     float64
 14  прокат_operation_12   0 non-null      float64
 15  нагрев_operation_13   0 non-null      float64
 16  ковка_operation_14    0 non-null      float64
 17  прокат_operation_15   0 non-null      float64
dtypes: float64(17), object(1)
memory usage: 24.6+ KB

In [26]:
series_with_op_clear['№слитка-индекс-часть'] = series_with_op_clear['№слитка-индекс-часть'].astype('string')
series_with_op_clear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   №слитка-индекс-часть  174 non-null    string
 1   кол. в садке, шт      174 non-null    float64
 2   Температура           174 non-null    float64
 3   нагрев_operation_1    174 non-null    float64
 4   ковка_operation_2     123 non-null    float64
 5   прокат_operation_3    48 non-null     float64
 6   нагрев_operation_4    84 non-null     float64
 7   ковка_operation_5     84 non-null     float64
 8   прокат_operation_6    0 non-null      float64
 9   нагрев_operation_7    66 non-null     float64
 10  ковка_operation_8     66 non-null     float64
 11  прокат_operation_9    0 non-null      float64
 12  нагрев_operation_10   12 non-null     float64
 13  ковка_operation_11    12 non-null     float64
 14  прокат_operation_12   0 non-null      float64
 15  нагрев_operation_13   0 non-null      float64
 16  ковка_operation_14    0 non-null      float64
 17  прокат_operation_15   0 non-null      float64
dtypes: float64(17), string(1)
memory usage: 24.6 KB

In [27]:
series_done = series_with_op_clear
series_done

,№слитка-индекс-часть,"кол. в садке, шт",Температура,нагрев_operation_1,ковка_operation_2,прокат_operation_3,нагрев_operation_4,ковка_operation_5,прокат_operation_6,нагрев_operation_7,ковка_operation_8,прокат_operation_9,нагрев_operation_10,ковка_operation_11,прокат_operation_12,нагрев_operation_13,ковка_operation_14,прокат_operation_15
0,"34-8993-18№1,2",2.0,950.0,2.0,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"34-8993-18№3,4",2.0,950.0,2.0,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"34-8993-18№5,6",2.0,950.0,2.0,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"34-8993-18№7,8",2.0,950.0,2.0,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"34-8993-18№9,10",2.0,950.0,2.0,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,34-8973-18,1.0,1100.0,3.0,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,2483-18,2.0,960.0,3.0,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,2493-18,2.0,960.0,3.0,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,2513-18,2.0,960.0,3.0,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,2523-18,2.0,960.0,3.0,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
series_done.to_csv('series_done.csv')

In [187]:
test_df = pd.read_csv('ovens_done.csv', index_col=0)
test_df

,name,ковка,отжиг,прокат,1000,1060,1100,750,820,830,840,860,870,940,950,960,980
0,Печь №2,1,0,0,0,1,0,0,0,1,0,1,0,0,1,1,0
1,Печь №3,1,0,0,1,0,0,0,1,0,0,1,0,0,1,1,0
2,Печь №10,1,0,0,0,0,0,0,0,0,1,0,1,0,1,1,0
3,Печь №15,1,0,0,0,0,0,0,0,0,1,0,1,0,1,1,0
4,Печь №20,0,1,1,0,1,0,1,0,0,0,0,0,1,0,1,1
5,Печь №21,1,0,1,0,1,1,0,0,0,0,0,0,0,1,1,0
6,Печь №22,1,0,1,0,1,1,0,0,0,0,0,0,0,1,1,1

In [76]:
blank = pd.read_excel('ПланОМД.xlsm', sheet_name='Бланк')
blank

,Бланк ОМД,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102
0,Печь,Т-ры,Опер.,от Ø,Нач. т-ра,Посл. т-ра,23-0ч.,NaN,NaN,NaN,...,NaN,21-22ч.,NaN,NaN,NaN,22-23ч.,NaN,NaN,NaN,23-0ч.
1,Печь №2,"960, 950, 830, 860, 1060",ковка,NaN,1060,NaN,"3AL-2,5V, 15143-18",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,[440-385]Б.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,1060'C 1шт.,NaN,NaN,NaN,...,NaN,NaN,K,K,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Печь №3,"960, 950, 860, 820, 1000",ковка,NaN,960,NaN,"Э110, 714-18-1слиток",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,[440-390]Б.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,960'C 1шт.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,K,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Печь №10,"960, 950, 840, 870",ковка,NaN,950,NaN,"6AL-4V, 34-15023-18 №1",NaN,NaN,NaN,...,NaN,NaN,NaN,"6AL-4V, 34-8743-18",NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,[235-205]Б.2,NaN,NaN,NaN,...,NaN,NaN,NaN,[105-105]Б.1,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,950'C 1шт.,NaN,NaN,NaN,...,K,K,NaN,950'C 2шт.,NaN,NaN,NaN,K,K,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Печь №15,"960, 950, 840, 870",ковка,NaN,950,1060,NaN,"6AL-4V, 34-15023-18",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[235-205]Б.,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,950'C 2шт.,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Печь №20,"1060, 980, 940, 960, 750","прокат, отжиг",NaN,980,950,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,П,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Печь №21,"1100, 1060, 960, 950","ковка, прокат",NaN,950,NaN,NaN,NaN,NaN,"6AL-4V, 34-8923-18 №3",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[235-205]Б.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,950'C 1шт.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Печь №22,"1100, 1060, 980, 960, 950","ковка, прокат",NaN,1060,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,П,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Ковок,NaN,NaN,48,шт.,NaN,NaN,NaN,NaN,NaN,...,1,1,1,1,NaN,NaN,1,1,1,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Прокатов СВП-500,NaN,NaN,12,шт.,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1,NaN
47,Итого,NaN,NaN,60,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,отжиг,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,нагрев,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,подогрев,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,ковка,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,прокат,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,прерывание,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,в ручную - недоступность оборудования (ремонт ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,перевод температуры,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
type(blank.iloc[2][0])

float

In [90]:
float('nan')

nan

In [232]:
blank_non_NaN = blank.dropna(how='all')[['Бланк ОМД', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 4']]
blank_non_NaN

,Бланк ОМД,Unnamed: 1,Unnamed: 2,Unnamed: 4
0,Печь,Т-ры,Опер.,Нач. т-ра
1,Печь №2,"960, 950, 830, 860, 1060",ковка,1060
2,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
7,Печь №3,"960, 950, 860, 820, 1000",ковка,960
8,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN
13,Печь №10,"960, 950, 840, 870",ковка,950
14,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN
19,Печь №15,"960, 950, 840, 870",ковка,950
20,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN
25,Печь №20,"1060, 980, 940, 960, 750","прокат, отжиг",980
26,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN
31,Печь №21,"1100, 1060, 960, 950","ковка, прокат",950
32,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN
37,Печь №22,"1100, 1060, 980, 960, 950","ковка, прокат",1060
38,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN
44,Ковок,NaN,NaN,шт.
46,Прокатов СВП-500,NaN,NaN,шт.
47,Итого,NaN,NaN,NaN
50,NaN,отжиг,NaN,NaN
51,NaN,нагрев,NaN,NaN
52,NaN,подогрев,NaN,NaN
53,NaN,ковка,NaN,NaN
54,NaN,прокат,NaN,NaN
55,NaN,прерывание,NaN,NaN
56,NaN,в ручную - недоступность оборудования (ремонт ...,NaN,NaN
57,NaN,перевод температуры,NaN,NaN

In [245]:
# in [1, 7, 13, 19, 25, 31, 37]
blank_non_NaN = blank_non_NaN[((blank_non_NaN.index-1)%6==0)&(blank_non_NaN.index<=37)]
blank_non_NaN

   Бланк ОМД                 Unnamed: 1      Unnamed: 2 Unnamed: 4
1    Печь №2   960, 950, 830, 860, 1060           ковка       1060
7    Печь №3   960, 950, 860, 820, 1000           ковка        960
13  Печь №10         960, 950, 840, 870           ковка        950
19  Печь №15         960, 950, 840, 870           ковка        950
25  Печь №20   1060, 980, 940, 960, 750   прокат, отжиг        980
31  Печь №21       1100, 1060, 960, 950  ковка,  прокат        950
37  Печь №22  1100, 1060, 980, 960, 950   ковка, прокат       1060

In [246]:
blank_reset_index = blank_non_NaN.reset_index(drop=True)
blank_reset_index

  Бланк ОМД                 Unnamed: 1      Unnamed: 2 Unnamed: 4
0   Печь №2   960, 950, 830, 860, 1060           ковка       1060
1   Печь №3   960, 950, 860, 820, 1000           ковка        960
2  Печь №10         960, 950, 840, 870           ковка        950
3  Печь №15         960, 950, 840, 870           ковка        950
4  Печь №20   1060, 980, 940, 960, 750   прокат, отжиг        980
5  Печь №21       1100, 1060, 960, 950  ковка,  прокат        950
6  Печь №22  1100, 1060, 980, 960, 950   ковка, прокат       1060

In [247]:
blank_reset_index.columns=['name', 'temp', 'operation', 'start_temp']
blank_reset_index

       name                       temp       operation start_temp
0   Печь №2   960, 950, 830, 860, 1060           ковка       1060
1   Печь №3   960, 950, 860, 820, 1000           ковка        960
2  Печь №10         960, 950, 840, 870           ковка        950
3  Печь №15         960, 950, 840, 870           ковка        950
4  Печь №20   1060, 980, 940, 960, 750   прокат, отжиг        980
5  Печь №21       1100, 1060, 960, 950  ковка,  прокат        950
6  Печь №22  1100, 1060, 980, 960, 950   ковка, прокат       1060

In [248]:
def foo1(x):
    return list(x.replace(',', '').split())
blank_reset_index['temp'] = blank_reset_index['temp'].apply(foo1)
blank_reset_index['operation'] = blank_reset_index['operation'].apply(foo1)
# list('1, 2, 3'.replace(',', '').split())
blank_reset_index

       name                         temp        operation start_temp
0   Печь №2   [960, 950, 830, 860, 1060]          [ковка]       1060
1   Печь №3   [960, 950, 860, 820, 1000]          [ковка]        960
2  Печь №10         [960, 950, 840, 870]          [ковка]        950
3  Печь №15         [960, 950, 840, 870]          [ковка]        950
4  Печь №20   [1060, 980, 940, 960, 750]  [прокат, отжиг]        980
5  Печь №21       [1100, 1060, 960, 950]  [ковка, прокат]        950
6  Печь №22  [1100, 1060, 980, 960, 950]  [ковка, прокат]       1060

In [249]:
# enc.categories_

In [250]:
blank_reset_index

       name                         temp        operation start_temp
0   Печь №2   [960, 950, 830, 860, 1060]          [ковка]       1060
1   Печь №3   [960, 950, 860, 820, 1000]          [ковка]        960
2  Печь №10         [960, 950, 840, 870]          [ковка]        950
3  Печь №15         [960, 950, 840, 870]          [ковка]        950
4  Печь №20   [1060, 980, 940, 960, 750]  [прокат, отжиг]        980
5  Печь №21       [1100, 1060, 960, 950]  [ковка, прокат]        950
6  Печь №22  [1100, 1060, 980, 960, 950]  [ковка, прокат]       1060

In [251]:
df1 = todummy(blank_reset_index, 'operation')
df1

       name                         temp start_temp  ковка  отжиг  прокат
0   Печь №2   [960, 950, 830, 860, 1060]       1060      1      0       0
1   Печь №3   [960, 950, 860, 820, 1000]        960      1      0       0
2  Печь №10         [960, 950, 840, 870]        950      1      0       0
3  Печь №15         [960, 950, 840, 870]        950      1      0       0
4  Печь №20   [1060, 980, 940, 960, 750]        980      0      1       1
5  Печь №21       [1100, 1060, 960, 950]        950      1      0       1
6  Печь №22  [1100, 1060, 980, 960, 950]       1060      1      0       1

In [252]:
df2 = todummy(blank_reset_index, 'temp')
df2

,name,start_temp,1000,1060,1100,750,820,830,840,860,870,940,950,960,980
0,Печь №2,1060,0,1,0,0,0,1,0,1,0,0,1,1,0
1,Печь №3,960,1,0,0,0,1,0,0,1,0,0,1,1,0
2,Печь №10,950,0,0,0,0,0,0,1,0,1,0,1,1,0
3,Печь №15,950,0,0,0,0,0,0,1,0,1,0,1,1,0
4,Печь №20,980,0,1,0,1,0,0,0,0,0,1,0,1,1
5,Печь №21,950,0,1,1,0,0,0,0,0,0,0,1,1,0
6,Печь №22,1060,0,1,1,0,0,0,0,0,0,0,1,1,1

In [259]:
# pd.concat([df1, df2[['1000','1060','1100','750','820','830','840','860','870','940','950','960','980']]])
df_res = df1.merge(df2.drop(columns=['start_temp']), left_on='name', right_on='name', how='inner')
df_res = df_res.drop(columns=['temp'])
df_res

,name,start_temp,ковка,отжиг,прокат,1000,1060,1100,750,820,830,840,860,870,940,950,960,980
0,Печь №2,1060,1,0,0,0,1,0,0,0,1,0,1,0,0,1,1,0
1,Печь №3,960,1,0,0,1,0,0,0,1,0,0,1,0,0,1,1,0
2,Печь №10,950,1,0,0,0,0,0,0,0,0,1,0,1,0,1,1,0
3,Печь №15,950,1,0,0,0,0,0,0,0,0,1,0,1,0,1,1,0
4,Печь №20,980,0,1,1,0,1,0,1,0,0,0,0,0,1,0,1,1
5,Печь №21,950,1,0,1,0,1,1,0,0,0,0,0,0,0,1,1,0
6,Печь №22,1060,1,0,1,0,1,1,0,0,0,0,0,0,0,1,1,1

In [260]:
df_res.to_csv('ovens_done.csv')

In [274]:
df_res

,name,start_temp,ковка,отжиг,прокат,1000,1060,1100,750,820,830,840,860,870,940,950,960,980
0,Печь №2,1060,1,0,0,0,1,0,0,0,1,0,1,0,0,1,1,0
1,Печь №3,960,1,0,0,1,0,0,0,1,0,0,1,0,0,1,1,0
2,Печь №10,950,1,0,0,0,0,0,0,0,0,1,0,1,0,1,1,0
3,Печь №15,950,1,0,0,0,0,0,0,0,0,1,0,1,0,1,1,0
4,Печь №20,980,0,1,1,0,1,0,1,0,0,0,0,0,1,0,1,1
5,Печь №21,950,1,0,1,0,1,1,0,0,0,0,0,0,0,1,1,0
6,Печь №22,1060,1,0,1,0,1,1,0,0,0,0,0,0,0,1,1,1

In [275]:
example_answers = df_res.copy()
example_answers

,name,start_temp,ковка,отжиг,прокат,1000,1060,1100,750,820,830,840,860,870,940,950,960,980
0,Печь №2,1060,1,0,0,0,1,0,0,0,1,0,1,0,0,1,1,0
1,Печь №3,960,1,0,0,1,0,0,0,1,0,0,1,0,0,1,1,0
2,Печь №10,950,1,0,0,0,0,0,0,0,0,1,0,1,0,1,1,0
3,Печь №15,950,1,0,0,0,0,0,0,0,0,1,0,1,0,1,1,0
4,Печь №20,980,0,1,1,0,1,0,1,0,0,0,0,0,1,0,1,1
5,Печь №21,950,1,0,1,0,1,1,0,0,0,0,0,0,0,1,1,0
6,Печь №22,1060,1,0,1,0,1,1,0,0,0,0,0,0,0,1,1,1

In [271]:
from sklearn.preprocessing import MultiLabelBinarizer

def todummy(df, row):
    mlb = MultiLabelBinarizer(sparse_output=True)
    df = df.join(
                pd.DataFrame.sparse.from_spmatrix(
                    mlb.fit_transform(df.pop(row)),
                    index=df.index,
                    columns=mlb.classes_))
    # print(mlb.classes_)
    return df

In [127]:
df = blank_reset_index
from sklearn.compose import make_column_transformer
transformer = make_column_transformer(
    (OneHotEncoder(), ['temp', 'operation']),
    remainder='passthrough')

transformed = transformer.fit_transform(df)
transformed_df = pd.DataFrame(transformed, columns=transformer.get_feature_names())
print(transformed_df.head())

ValueError: For a sparse output, all columns should be a numeric or convertible to a numeric.

In [ ]:
blank_reset_index[['temp', 'operation']]

In [105]:

for i in blank.iterrows():
    print(i)
    if i[0] is not float('nan'):
        blank_non_NaN.loc[ len(df.index )] = i
    # df.loc[ len(df.index )] = [value1, value2, value3, ...]
# blank_non_NaN = blank['Печь' in blank.index]
# blank_non_NaN
blank_non_NaN

(0, Бланк ОМД            Печь
Unnamed: 1           Т-ры
Unnamed: 2          Опер.
Unnamed: 3           от Ø
Unnamed: 4      Нач. т-ра
                  ...
Unnamed: 98       22-23ч.
Unnamed: 99           NaN
Unnamed: 100          NaN
Unnamed: 101          NaN
Unnamed: 102       23-0ч.
Name: 0, Length: 103, dtype: object)

ValueError: cannot set a row with mismatched columns

In [269]:
# снова json
ovens = pd.json_normalize(data['ovens'])
ovens.info()
# data['ovens']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   start_temp     422 non-null    int64
 1   working_temps  422 non-null    object
 2   operations     422 non-null    object
dtypes: int64(1), object(2)
memory usage: 10.0+ KB

In [272]:
df1=todummy(ovens, 'working_temps')
df1

,start_temp,operations,950,960,970,980,990,1000,1010,1020,...,1150,1160,1170,1180,1190,1200,1210,1220,1230,1240
0,1220,"[prokat, kovka]",0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,1
1,990,"[otzhig, kovka]",0,0,0,1,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1220,[otzhig],0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1020,[kovka],0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,1020,[otzhig],0,0,1,1,1,0,0,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,1240,[kovka],0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
418,1050,[prokat],0,0,0,1,1,0,0,1,...,0,1,0,0,0,0,0,0,0,0
419,1140,[kovka],0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
420,950,[prokat],1,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,0
421,1150,"[otzhig, prokat]",0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,1,0

In [273]:
df2=todummy(df1, 'operations')
df2

,start_temp,950,960,970,980,990,1000,1010,1020,1030,...,1180,1190,1200,1210,1220,1230,1240,kovka,otzhig,prokat
0,1220,0,1,0,0,0,0,0,0,1,...,0,1,0,0,1,1,1,1,0,1
1,990,0,0,0,1,1,0,0,0,1,...,0,1,0,0,0,0,0,1,1,0
2,1220,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,1020,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
4,1020,0,0,1,1,1,0,0,1,0,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,1240,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,1,0,0
418,1050,0,0,0,1,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
419,1140,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
420,950,1,0,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
421,1150,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,1,0,0,1,1

In [189]:
series = pd.json_normalize(data['series'])
series

      temperature                                         operations
0            1080  [{'name': 'nagrev', 'timing': 245}, {'name': '...
1             970  [{'name': 'nagrev', 'timing': 62}, {'name': 'o...
2            1080  [{'name': 'nagrev', 'timing': 76}, {'name': 'k...
3             980  [{'name': 'nagrev', 'timing': 96}, {'name': 'o...
4             980  [{'name': 'nagrev', 'timing': 82}, {'name': 'p...
...           ...                                                ...
2589          960  [{'name': 'nagrev', 'timing': 281}, {'name': '...
2590         1060  [{'name': 'nagrev', 'timing': 248}, {'name': '...
2591         1000  [{'name': 'nagrev', 'timing': 182}, {'name': '...
2592         1090  [{'name': 'nagrev', 'timing': 204}, {'name': '...
2593         1020  [{'name': 'nagrev', 'timing': 274}, {'name': '...

[2594 rows x 2 columns]

In [193]:
def foo3(op_list):
    return pd.DataFrame(op_list)

foo3(series.iloc[0, 1])

     name  timing
0  nagrev     245
1  prokat      15

In [209]:
df_full = pd.DataFrame(columns=['name', 'timing', 'num'])
# print(df_full)
for i in range(series.shape[0]):
    # print(i)
    df_cur = foo3(series.iloc[i, 1])
    df_cur['num']=i
    df_full=pd.concat([df_full, df_cur])

df_full

      name timing   num
0   nagrev    245     0
1   prokat     15     0
0   nagrev     62     1
1   otzhig     15     1
0   nagrev     76     2
..     ...    ...   ...
0   nagrev    204  2592
1   otzhig     15  2592
0   nagrev    274  2593
1    kovka     20  2593
2    kovka     15  2593

[6053 rows x 3 columns]

In [230]:
one_series = series[['temperature']]
one_series
for i in range(series.shape[0]):
    for j in range(df_full.index.max()):
        df = df_full[(df_full.index==j)&(df_full.num==i)]
        if df.empty != True:
            # print(df)
            row_name = str(df['name'].iloc[0]) + '_'+str(j)
            # print(row_name)
            one_series[row_name] += pd.Series({i: 1})
        
one_series

KeyError: 'nagrev_0'

In [229]:
one_series.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2594 entries, 0 to 2593
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  2594 non-null   int64
 1   nagrev_0     1 non-null      float64
 2   prokat_1     1 non-null      float64
 3   otzhig_1     1 non-null      float64
 4   kovka_1      1 non-null      float64
 5   kovka_2      1 non-null      float64
dtypes: float64(5), int64(1)
memory usage: 121.7 KB

In [ ]:
mlb = MultiLabelBinarizer(sparse_output=True)
df = blank_reset_index
df = df.join(
            pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(df.pop('temp')),
                index=df.index,
                columns=mlb.classes_))
# print(mlb.classes_)
df

In [377]:
# answers
from openpyxl import load_workbook

# Загрузка файла Excel
workbook = load_workbook('ПланОМД.xlsm')

# Выбор нужного листа
sheet = workbook['Бланк']

# Получение цвета ячейки в указанной координате (например, A1)
cell_color = sheet['A1'].fill.start_color.index

print(f"Цвет ячейки A1: {cell_color}")

Цвет ячейки A1: 00000000

In [378]:
dict_answer = {}
for row in range(1, 60):
    for column in range(1, 100):
        # print(sheet.cell(row=row, column=column).value)
        dict_answer[(row, column)]=sheet.cell(row=row, column=column).value
        
dict_answer

{(1, 1): 'Бланк ОМД',
 (1, 2): None,
 (1, 3): None,
 (1, 4): None,
 (1, 5): None,
 (1, 6): None,
 (1, 7): None,
 (1, 8): None,
 (1, 9): None,
 (1, 10): None,
 (1, 11): datetime.datetime(2018, 12, 19, 0, 0),
 (1, 12): None,
 (1, 13): None,
 (1, 14): None,
 (1, 15): None,
 (1, 16): None,
 (1, 17): None,
 (1, 18): None,
 (1, 19): None,
 (1, 20): None,
 (1, 21): None,
 (1, 22): None,
 (1, 23): None,
 (1, 24): None,
 (1, 25): None,
 (1, 26): None,
 (1, 27): None,
 (1, 28): None,
 (1, 29): None,
 (1, 30): None,
 (1, 31): None,
 (1, 32): None,
 (1, 33): None,
 (1, 34): None,
 (1, 35): None,
 (1, 36): None,
 (1, 37): None,
 (1, 38): None,
 (1, 39): None,
 (1, 40): None,
 (1, 41): None,
 (1, 42): None,
 (1, 43): None,
 (1, 44): None,
 (1, 45): None,
 (1, 46): None,
 (1, 47): None,
 (1, 48): None,
 (1, 49): None,
 (1, 50): None,
 (1, 51): None,
 (1, 52): None,
 (1, 53): None,
 (1, 54): None,
 (1, 55): None,
 (1, 56): None,
 (1, 57): None,
 (1, 58): None,
 (1, 59): None,
 (1, 60): None,
 (1, 61): None,
 (1, 62): None,
 (1, 63): None,
 (1, 64): None,
 (1, 65): None,
 (1, 66): None,
 (1, 67): None,
 (1, 68): None,
 (1, 69): None,
 (1, 70): None,
 (1, 71): None,
 (1, 72): None,
 (1, 73): None,
 (1, 74): None,
 (1, 75): None,
 (1, 76): None,
 (1, 77): None,
 (1, 78): None,
 (1, 79): None,
 (1, 80): None,
 (1, 81): None,
 (1, 82): None,
 (1, 83): None,
 (1, 84): None,
 (1, 85): None,
 (1, 86): None,
 (1, 87): None,
 (1, 88): None,
 (1, 89): None,
 (1, 90): None,
 (1, 91): None,
 (1, 92): None,
 (1, 93): None,
 (1, 94): None,
 (1, 95): None,
 (1, 96): None,
 (1, 97): None,
 (1, 98): None,
 (1, 99): None,
 (2, 1): 'Печь',
 (2, 2): 'Т-ры',
 (2, 3): 'Опер.',
 (2, 4): 'от Ø',
 (2, 5): 'Нач. т-ра',
 (2, 6): 'Посл. т-ра',
 (2, 7): '23-0ч.',
 (2, 8): None,
 (2, 9): None,
 (2, 10): None,
 (2, 11): '0-1ч.',
 (2, 12): None,
 (2, 13): None,
 (2, 14): None,
 (2, 15): '1-2ч.',
 (2, 16): None,
 (2, 17): None,
 (2, 18): None,
 (2, 19): '2-3ч.',
 (2, 20): None,
 (2, 21): None,
 (2, 22): None,
 (2, 23): '3-4ч.',
 (2, 24): None,
 (2, 25): None,
 (2, 26): None,
 (2, 27): '4-5ч.',
 (2, 28): None,
 (2, 29): None,
 (2, 30): None,
 (2, 31): '5-6ч.',
 (2, 32): None,
 (2, 33): None,
 (2, 34): None,
 (2, 35): '6-7ч.',
 (2, 36): None,
 (2, 37): None,
 (2, 38): None,
 (2, 39): '7-8ч.',
 (2, 40): None,
 (2, 41): None,
 (2, 42): None,
 (2, 43): '8-9ч.',
 (2, 44): None,
 (2, 45): None,
 (2, 46): None,
 (2, 47): '9-10ч.',
 (2, 48): None,
 (2, 49): None,
 (2, 50): None,
 (2, 51): '10-11ч.',
 (2, 52): None,
 (2, 53): None,
 (2, 54): None,
 (2, 55): '11-12ч.',
 (2, 56): None,
 (2, 57): None,
 (2, 58): None,
 (2, 59): '12-13ч.',
 (2, 60): None,
 (2, 61): None,
 (2, 62): None,
 (2, 63): '13-14ч.',
 (2, 64): None,
 (2, 65): None,
 (2, 66): None,
 (2, 67): '14-15ч.',
 (2, 68): None,
 (2, 69): None,
 (2, 70): None,
 (2, 71): '15-16ч.',
 (2, 72): None,
 (2, 73): None,
 (2, 74): None,
 (2, 75): '16-17ч.',
 (2, 76): None,
 (2, 77): None,
 (2, 78): None,
 (2, 79): '17-18ч.',
 (2, 80): None,
 (2, 81): None,
 (2, 82): None,
 (2, 83): '18-19ч.',
 (2, 84): None,
 (2, 85): None,
 (2, 86): None,
 (2, 87): '19-20ч.',
 (2, 88): None,
 (2, 89): None,
 (2, 90): None,
 (2, 91): '20-21ч.',
 (2, 92): None,
 (2, 93): None,
 (2, 94): None,
 (2, 95): '21-22ч.',
 (2, 96): None,
 (2, 97): None,
 (2, 98): None,
 (2, 99): '22-23ч.',
 (3, 1): 'Печь №2',
 (3, 2): '960, 950, 830, 860, 1060',
 (3, 3): 'ковка',
 (3, 4): None,
 (3, 5): 1060,
 (3, 6): None,
 (3, 7): '3AL-2,5V, 15143-18',
 (3, 8): None,
 (3, 9): None,
 (3, 10): None,
 (3, 11): None,
 (3, 12): None,
 (3, 13): None,
 (3, 14): None,
 (3, 15): None,
 (3, 16): None,
 (3, 17): None,
 (3, 18): None,
 (3, 19): None,
 (3, 20): None,
 (3, 21): None,
 (3, 22): None,
 (3, 23): None,
 (3, 24): None,
 (3, 25): None,
 (3, 26): None,
 (3, 27): None,
 (3, 28): '3AL-2,5V, 15143-18',
 (3, 29): None,
 (3, 30): None,
 (3, 31): None,
 (3, 32): None,
 (3, 33): None,
 (3, 34): None,
 (3, 35): '3AL-2,5V, 15143-18',
 (3, 36): None,
 (3, 37): None,
 (3, 38): None,
 (3, 39): None,
 (3, 40): None,
 (3, 41): None,
 (3, 42): None,
 (3, 43): None,
 (3, 44): None,
 (3, 45): 'Э110, Балласт',
 (3, 46): None,
 (3, 47): None,
 (3, 48): None,
 (3, 49): None,
 (3, 50): None,
 (3, 51): None,
 (3, 52): None,
 (3, 53): None,
 (3, 54): None,
 (3, 55): None,
 (3, 56): None,
 (3, 57): None,
 (3, 58): None,
 (3, 59): None,
 (3, 60): None,
 (3, 61): None,
 (3, 62): '3AL-2,5V, 34-15153-18 №1,2',
 (3, 63): None,
 (3, 64): None,
 (3, 65): None,
 (3, 66): None,
 (3, 67): None,
 (3, 68): None,
 (3, 69): None,
 (3, 70): None,
 (3, 71): None,
 (3, 72): None,
 (3, 73): None,
 (3, 74): None,
 (3, 75): None,
 (3, 76): None,
 (3, 77): None,
 (3, 78): None,
 (3, 79): None,
 (3, 80): None,
 (3, 81): None,
 (3, 82): '6AL-7Nb, 34-15053-18 №5,7',
 (3, 83): None,
 (3, 84): None,
 (3, 85): None,
 (3, 86): None,
 (3, 87): None,
 (3, 88): None,
 (3, 89): None,
 (3, 90): '6AL-7Nb, 34-15053-18 №9,11',
 (3, 91): None,
 (3, 92): None,
 (3, 93): None,
 (3, 94): None,
 (3, 95): None,
 (3, 96): None,
 (3, 97): None,
 (3, 98): None,
 (3, 99): None,
 (4, 1): None,
 (4, 2): None,
 (4, 3): None,
 (4, 4): None,
 (4, 5): None,
 (4, 6): None,
 (4, 7): '[440-385]Б.1',
 (4, 8): None,
 (4, 9): None,
 (4, 10): None,
 (4, 11): None,
 (4, 12): None,
 (4, 13): None,
 (4, 14): None,
 (4, 15): None,
 (4, 16): None,
 (4, 17): None,
 (4, 18): None,
 (4, 19): None,
 (4, 20): None,
 (4, 21): None,
 (4, 22): None,
 (4, 23): None,
 (4, 24): None,
 (4, 25): None,
 (4, 26): None,
 (4, 27): None,
 (4, 28): '[385-280]Б.1',
 (4, 29): None,
 (4, 30): None,
 (4, 31): None,
 (4, 32): None,
 (4, 33): None,
 (4, 34): None,
 (4, 35): '[280-240]Б.1',
 (4, 36): None,
 (4, 37): None,
 (4, 38): None,
 (4, 39): None,
 (4, 40): None,
 (4, 41): None,
 (4, 42): None,
 (4, 43): None,
 (4, 44): None,
 (4, 45): '[440-440]Б.1',
 (4, 46): None,
 (4, 47): None,
 (4, 48): None,
 (4, 49): None,
 (4, 50): None,
 (4, 51): None,
 (4, 52): None,
 (4, 53): None,
 (4, 54): None,
 (4, 55): None,
 (4, 56): None,
 (4, 57): None,
 (4, 58): None,
 (4, 59): None,
 (4, 60): None,
 (4, 61): None,
 (4, 62): '[280-240]Б.1',
 (4, 63): None,
 (4, 64): None,
 (4, 65): None,
 (4, 66): None,
 (4, 67): None,
 (4, 68): None,
 (4, 69): None,
 (4, 70): None,
 (4, 71): None,
 (4, 72): None,
 (4, 73): None,
 (4, 74): None,
 (4, 75): None,
 (4, 76): None,
 (4, 77): None,
 (4, 78): None,
 (4, 79): None,
 (4, 80): None,
 (4, 81): None,
 (4, 82): '[115-95]Б.',
 (4, 83): None,
 (4, 84): None,
 (4, 85): None,
 (4, 86): None,
 (4, 87): None,
 (4, 88): None,
 (4, 89): None,
 (4, 90): '[115-95]Б.',
 (4, 91): None,
 (4, 92): None,
 (4, 93): None,
 (4, 94): None,
 (4, 95): None,
 (4, 96): None,
 (4, 97): None,
 (4, 98): None,
 (4, 99): None,
 (5, 1): None,
 (5, 2): None,
 (5, 3): None,
 (5, 4): None,
 (5, 5): None,
 (5, 6): None,
 (5, 7): "1060'C 1шт.",
 (5, 8): None,
 (5, 9): None,
 (5, 10): None,
 (5, 11): None,
 (5, 12): None,
 (5, 13): None,
 (5, 14): None,
 (5, 15): None,
 (5, 16): None,
 (5, 17): None,
 (5, 18): None,
 (5, 19): None,
 (5, 20): None,
 (5, 21): None,
 (5, 22): None,
 (5, 23): None,
 (5, 24): None,
 (5, 25): None,
 (5, 26): None,
 (5, 27): 'K',
 (5, 28): "1060'C 1шт.",
 (5, 29): None,
 (5, 30): None,
 (5, 31): None,
 (5, 32): None,
 (5, 33): None,
 (5, 34): 'K',
 (5, 35): "1060'C 1шт.",
 (5, 36): None,
 (5, 37): None,
 (5, 38): None,
 (5, 39): None,
 (5, 40): None,
 (5, 41): 'K',
 (5, 42): None,
 (5, 43): None,
 (5, 44): None,
 (5, 45): "1060'C 1шт.",
 (5, 46): None,
 (5, 47): None,
 (5, 48): None,
 (5, 49): None,
 (5, 50): None,
 (5, 51): None,
 (5, 52): None,
 (5, 53): None,
 (5, 54): None,
 (5, 55): None,
 (5, 56): None,
 (5, 57): None,
 (5, 58): None,
 (5, 59): None,
 (5, 60): None,
 (5, 61): 'K',
 (5, 62): "1060'C 2шт.",
 (5, 63): None,
 (5, 64): None,
 (5, 65): None,
 (5, 66): None,
 (5, 67): None,
 (5, 68): None,
 (5, 69): None,
 (5, 70): None,
 (5, 71): None,
 (5, 72): None,
 (5, 73): None,
 (5, 74): None,
 (5, 75): None,
 (5, 76): 'K',
 (5, 77): 'K',
 (5, 78): None,
 (5, 79): None,
 (5, 80): None,
 (5, 81): None,
 (5, 82): "1060'C 2шт.",
 (5, 83): None,
 (5, 84): None,
 (5, 85): None,
 (5, 86): None,
 (5, 87): None,
 (5, 88): 'K',
 (5, 89): 'K',
 (5, 90): "1060'C 2шт.",
 (5, 91): None,
 (5, 92): None,
 (5, 93): None,
 (5, 94): None,
 (5, 95): None,
 (5, 96): 'K',
 (5, 97): 'K',
 (5, 98): None,
 (5, 99): None,
 (6, 1): None,
 (6, 2): None,
 (6, 3): None,
 (6, 4): None,
 (6, 5): None,
 (6, 6): None,
 (6, 7): None,
 (6, 8): None,
 (6, 9): None,
 (6, 10): None,
 (6, 11): None,
 (6, 12): None,
 (6, 13): None,
 (6, 14): None,
 (6, 15): None,
 (6, 16): None,
 (6, 17): None,
 (6, 18): None,
 (6, 19): None,
 (6, 20): None,
 (6, 21): None,
 (6, 22): None,
 (6, 23): None,
 (6, 24): None,
 (6, 25): None,
 (6, 26): None,
 (6, 27): None,
 (6, 28): None,
 (6, 29): None,
 (6, 30): None,
 (6, 31): None,
 (6, 32): None,
 (6, 33): None,
 (6, 34): None,
 (6, 35): None,
 (6, 36): None,
 (6, 37): None,
 (6, 38): None,
 (6, 39): None,
 (6, 40): None,
 (6, 41): None,
 (6, 42): None,
 (6, 43): None,
 (6, 44): None,
 (6, 45): None,
 (6, 46): None,
 (6, 47): None,
 (6, 48): None,
 (6, 49): None,
 (6, 50): None,
 (6, 51): None,
 (6, 52): None,
 (6, 53): None,
 (6, 54): None,
 (6, 55): None,
 (6, 56): None,
 (6, 57): None,
 (6, 58): None,
 (6, 59): None,
 (6, 60): None,
 (6, 61): None,
 (6, 62): None,
 (6, 63): None,
 (6, 64): None,
 (6, 65): None,
 (6, 66): None,
 (6, 67): None,
 (6, 68): None,
 (6, 69): None,
 (6, 70): None,
 (6, 71): None,
 (6, 72): None,
 (6, 73): None,
 (6, 74): None,
 (6, 75): None,
 (6, 76): None,
 (6, 77): None,
 (6, 78): None,
 (6, 79): None,
 (6, 80): None,
 (6, 81): None,
 (6, 82): None,
 (6, 83): None,
 (6, 84): None,
 (6, 85): None,
 (6, 86): None,
 (6, 87): None,
 (6, 88): None,
 (6, 89): None,
 (6, 90): None,
 (6, 91): None,
 (6, 92): None,
 (6, 93): None,
 (6, 94): None,
 (6, 95): None,
 (6, 96): None,
 (6, 97): None,
 (6, 98): None,
 (6, 99): None,
 (7, 1): None,
 (7, 2): None,
 (7, 3): None,
 (7, 4): None,
 (7, 5): None,
 (7, 6): None,
 (7, 7): None,
 (7, 8): None,
 (7, 9): None,
 (7, 10): None,
 (7, 11): None,
 (7, 12): None,
 (7, 13): None,
 (7, 14): None,
 (7, 15): None,
 (7, 16): None,
 (7, 17): None,
 (7, 18): None,
 (7, 19): None,
 (7, 20): None,
 (7, 21): None,
 (7, 22): None,
 (7, 23): None,
 (7, 24): None,
 (7, 25): None,
 (7, 26): None,
 (7, 27): None,
 (7, 28): None,
 (7, 29): None,
 (7, 30): None,
 (7, 31): None,
 (7, 32): None,
 (7, 33): None,
 (7, 34): None,
 (7, 35): None,
 (7, 36): None,
 (7, 37): None,
 (7, 38): None,
 (7, 39): None,
 (7, 40): None,
 (7, 41): None,
 (7, 42): None,
 (7, 43): None,
 (7, 44): None,
 (7, 45): None,
 (7, 46): None,
 (7, 47): None,
 (7, 48): None,
 (7, 49): None,
 (7, 50): None,
 (7, 51): None,
 (7, 52): None,
 (7, 53): None,
 (7, 54): None,
 (7, 55): None,
 (7, 56): None,
 (7, 57): None,
 (7, 58): None,
 (7, 59): None,
 (7, 60): None,
 (7, 61): None,
 (7, 62): None,
 (7, 63): None,
 (7, 64): None,
 (7, 65): None,
 (7, 66): None,
 (7, 67): None,
 (7, 68): None,
 (7, 69): None,
 (7, 70): None,
 (7, 71): None,
 (7, 72): None,
 (7, 73): None,
 (7, 74): None,
 (7, 75): None,
 (7, 76): None,
 (7, 77): None,
 (7, 78): None,
 (7, 79): None,
 (7, 80): None,
 (7, 81): None,
 (7, 82): None,
 (7, 83): None,
 (7, 84): None,
 (7, 85): None,
 (7, 86): None,
 (7, 87): None,
 (7, 88): None,
 (7, 89): None,
 (7, 90): None,
 (7, 91): None,
 (7, 92): None,
 (7, 93): None,
 (7, 94): None,
 (7, 95): None,
 (7, 96): None,
 (7, 97): None,
 (7, 98): None,
 (7, 99): None,
 (8, 1): None,
 (8, 2): None,
 (8, 3): None,
 (8, 4): None,
 (8, 5): None,
 (8, 6): None,
 (8, 7): None,
 (8, 8): None,
 (8, 9): None,
 (8, 10): None,
 (8, 11): None,
 (8, 12): None,
 (8, 13): None,
 (8, 14): None,
 (8, 15): None,
 (8, 16): None,
 (8, 17): None,
 (8, 18): None,
 (8, 19): None,
 (8, 20): None,
 (8, 21): None,
 (8, 22): None,
 (8, 23): None,
 (8, 24): None,
 (8, 25): None,
 (8, 26): None,
 (8, 27): None,
 (8, 28): None,
 (8, 29): None,
 (8, 30): None,
 (8, 31): None,
 (8, 32): None,
 (8, 33): None,
 (8, 34): None,
 (8, 35): None,
 (8, 36): None,
 (8, 37): None,
 (8, 38): None,
 (8, 39): None,
 (8, 40): None,
 (8, 41): None,
 (8, 42): None,
 (8, 43): None,
 (8, 44): None,
 (8, 45): None,
 (8, 46): None,
 (8, 47): None,
 (8, 48): None,
 (8, 49): None,
 (8, 50): None,
 (8, 51): None,
 (8, 52): None,
 (8, 53): None,
 (8, 54): None,
 (8, 55): None,
 (8, 56): None,
 (8, 57): None,
 (8, 58): None,
 (8, 59): None,
 (8, 60): None,
 (8, 61): None,
 (8, 62): None,
 (8, 63): None,
 (8, 64): None,
 (8, 65): None,
 (8, 66): None,
 (8, 67): None,
 (8, 68): None,
 (8, 69): None,
 (8, 70): None,
 (8, 71): None,
 (8, 72): None,
 (8, 73): None,
 (8, 74): None,
 (8, 75): None,
 (8, 76): None,
 (8, 77): None,
 (8, 78): None,
 (8, 79): None,
 (8, 80): None,
 (8, 81): None,
 (8, 82): None,
 (8, 83): None,
 (8, 84): None,
 (8, 85): None,
 (8, 86): None,
 (8, 87): None,
 (8, 88): None,
 (8, 89): None,
 (8, 90): None,
 (8, 91): None,
 (8, 92): None,
 (8, 93): None,
 (8, 94): None,
 (8, 95): None,
 (8, 96): None,
 (8, 97): None,
 (8, 98): None,
 (8, 99): None,
 (9, 1): 'Печь №3',
 (9, 2): '960, 950, 860, 820, 1000',
 (9, 3): 'ковка',
 (9, 4): None,
 (9, 5): 960,
 (9, 6): None,
 (9, 7): 'Э110, 714-18-1слиток',
 (9, 8): None,
 (9, 9): None,
 (9, 10): None,
 (9, 11): None,
 (9, 12): None,
 (9, 13): None,
 (9, 14): None,
 (9, 15): None,
 (9, 16): None,
 (9, 17): None,
 (9, 18): None,
 (9, 19): None,
 (9, 20): None,
 (9, 21): None,
 (9, 22): None,
 (9, 23): None,
 (9, 24): 'Э110, 714-18-1слиток',
 (9, 25): None,
 (9, 26): None,
 (9, 27): None,
 (9, 28): None,
 (9, 29): None,
 (9, 30): None,
 (9, 31): None,
 (9, 32): None,
 (9, 33): None,
 (9, 34): None,
 (9, 35): None,
 (9, 36): None,
 (9, 37): None,
 (9, 38): None,
 (9, 39): None,
 (9, 40): None,
 (9, 41): 'Э110, 714-18-2слиток',
 (9, 42): None,
 (9, 43): None,
 (9, 44): None,
 (9, 45): None,
 (9, 46): None,
 (9, 47): None,
 (9, 48): None,
 (9, 49): None,
 (9, 50): None,
 (9, 51): None,
 (9, 52): None,
 (9, 53): None,
 (9, 54): None,
 (9, 55): None,
 (9, 56): None,
 (9, 57): None,
 (9, 58): 'Э110, 714-18-2слиток',
 (9, 59): None,
 (9, 60): None,
 (9, 61): None,
 (9, 62): None,
 (9, 63): None,
 (9, 64): None,
 (9, 65): None,
 (9, 66): None,
 (9, 67): None,
 (9, 68): None,
 (9, 69): None,
 (9, 70): None,
 (9, 71): None,
 (9, 72): None,
 (9, 73): None,
 (9, 74): None,
 (9, 75): 'Э110, 234-18-1',
 (9, 76): None,
 (9, 77): None,
 (9, 78): None,
 (9, 79): None,
 (9, 80): None,
 (9, 81): None,
 (9, 82): None,
 (9, 83): None,
 (9, 84): None,
 (9, 85): None,
 (9, 86): None,
 (9, 87): None,
 (9, 88): None,
 (9, 89): None,
 (9, 90): None,
 (9, 91): None,
 (9, 92): 'Э110, 234-18-1',
 (9, 93): None,
 (9, 94): None,
 (9, 95): None,
 (9, 96): None,
 (9, 97): None,
 (9, 98): None,
 (9, 99): None,
 (10, 1): None,
 (10, 2): None,
 (10, 3): None,
 (10, 4): None,
 (10, 5): None,
 (10, 6): None,
 (10, 7): '[440-390]Б.',
 (10, 8): None,
 (10, 9): None,
 (10, 10): None,
 (10, 11): None,
 (10, 12): None,
 (10, 13): None,
 (10, 14): None,
 (10, 15): None,
 (10, 16): None,
 (10, 17): None,
 (10, 18): None,
 (10, 19): None,
 (10, 20): None,
 (10, 21): None,
 (10, 22): None,
 (10, 23): None,
 (10, 24): '[390-313]Б.',
 (10, 25): None,
 (10, 26): None,
 (10, 27): None,
 (10, 28): None,
 (10, 29): None,
 (10, 30): None,
 (10, 31): None,
 (10, 32): None,
 (10, 33): None,
 (10, 34): None,
 (10, 35): None,
 (10, 36): None,
 (10, 37): None,
 (10, 38): None,
 (10, 39): None,
 (10, 40): None,
 (10, 41): '[440-390]Б.',
 (10, 42): None,
 (10, 43): None,
 (10, 44): None,
 (10, 45): None,
 (10, 46): None,
 (10, 47): None,
 (10, 48): None,
 (10, 49): None,
 (10, 50): None,
 (10, 51): None,
 (10, 52): None,
 (10, 53): None,
 (10, 54): None,
 (10, 55): None,
 (10, 56): None,
 (10, 57): None,
 (10, 58): '[390-313]Б.',
 (10, 59): None,
 (10, 60): None,
 (10, 61): None,
 (10, 62): None,
 (10, 63): None,
 (10, 64): None,
 (10, 65): None,
 (10, 66): None,
 (10, 67): None,
 (10, 68): None,
 (10, 69): None,
 (10, 70): None,
 (10, 71): None,
 (10, 72): None,
 (10, 73): None,
 (10, 74): None,
 (10, 75): '[440-120х300]Б.',
 (10, 76): None,
 (10, 77): None,
 (10, 78): None,
 (10, 79): None,
 (10, 80): None,
 (10, 81): None,
 (10, 82): None,
 (10, 83): None,
 (10, 84): None,
 (10, 85): None,
 (10, 86): None,
 (10, 87): None,
 (10, 88): None,
 (10, 89): None,
 (10, 90): None,
 (10, 91): None,
 (10, 92): '[440-120х300]Б.',
 (10, 93): None,
 (10, 94): None,
 (10, 95): None,
 (10, 96): None,
 (10, 97): None,
 (10, 98): None,
 (10, 99): None,
 (11, 1): None,
 (11, 2): None,
 (11, 3): None,
 (11, 4): None,
 (11, 5): None,
 (11, 6): None,
 (11, 7): "960'C 1шт.",
 (11, 8): None,
 (11, 9): None,
 (11, 10): None,
 ...}

In [379]:
def get_lists(cur_row):
    temp_list = []
    form_list = []
    detal_list = []
    operation_list = []
    cur_temp = str(sheet.cell(row=cur_row-2, column=7-2).value) + ' C'
    cur_form = str('nan')
    cur_detal = str('nan')
    for column in range(7, 100+7):
        
        
        val = sheet.cell(row=cur_row, column=column).value
        val_form = sheet.cell(row=cur_row-1, column=column).value
        val_detal = sheet.cell(row=cur_row-2, column=column).value
        val_color = sheet.cell(row=5, column=column).fill.start_color.index
        if 'C' in str(val):
            cur_temp = val.replace('C', '').replace('\'', '')
        temp_list += [cur_temp.split()[0]]
        if 'Б' in str(val_form):
            cur_form = val_form
        form_list += [cur_form]
        if val_detal != None:
            cur_detal = val_detal
        detal_list += [cur_detal]
        operation_list += [legend[sheet.cell(row=5, column=column).fill.start_color.index]]
        # print(sheet.cell(row=5, column=column).value)
        # print(sheet.cell(row=5, column=column).fill.start_color.index)
        #dict_answer[(row, column)]=sheet.cell(row=row, column=column).value
        # dict_answer[column] = str(cur_temp).split()[0] + ' ' + legend[sheet.cell(row=5, column=column).fill.start_color.index]
    return temp_list, form_list, detal_list, operation_list

In [380]:
row_curr = []
for o, i, j, k in zip(operation_list, temp_list, form_list, detal_list):
    row_curr += [o, i, j, k]
row_curr

['нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'ковка',
 "1060'C",
 '[440-385]Б.1',
 '3AL-2,5V, 15143-18',
 'подогрев',
 "1060'C",
 '[385-280]Б.1',
 '3AL-2,5V, 15143-18',
 'подогрев',
 "1060'C",
 '[385-280]Б.1',
 '3AL-2,5V, 15143-18',
 'подогрев',
 "1060'C",
 '[385-280]Б.1',
 '3AL-2,5V, 15143-18',
 'подогрев',
 "1060'C",
 '[385-280]Б.1',
 '3AL-2,5V, 15143-18',
 'подогрев',
 "1060'C",
 '[385-280]Б.1',
 '3AL-2,5V, 15143-18',
 'подогрев',
 "1060'C",
 '[385-280]Б.1',
 '3AL-2,5V, 15143-18',
 'ковка',
 "1060'C",
 '[385-280]Б.1',
 '3AL-2,5V, 15143-18',
 'подогрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 15143-18',
 'подогрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 15143-18',
 'подогрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 15143-18',
 'подогрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 15143-18',
 'подогрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 15143-18',
 'подогрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 15143-18',
 'ковка',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 15143-18',
 'прерывание',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 15143-18',
 'прерывание',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 15143-18',
 'прерывание',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 15143-18',
 'нагрев',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'нагрев',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'нагрев',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'нагрев',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'нагрев',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'нагрев',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'нагрев',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'нагрев',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'нагрев',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'нагрев',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'нагрев',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'нагрев',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'нагрев',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'нагрев',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'нагрев',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'нагрев',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'ковка',
 "1060'C",
 '[440-440]Б.1',
 'Э110, Балласт',
 'нагрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'нагрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'нагрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'нагрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'нагрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'нагрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'нагрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'нагрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'нагрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'нагрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'нагрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'нагрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'нагрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'нагрев',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'ковка',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'ковка',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'прерывание',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'прерывание',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'прерывание',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'прерывание',
 "1060'C",
 '[280-240]Б.1',
 '3AL-2,5V, 34-15153-18 №1,2',
 'нагрев',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №5,7',
 'нагрев',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №5,7',
 'нагрев',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №5,7',
 'нагрев',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №5,7',
 'нагрев',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №5,7',
 'нагрев',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №5,7',
 'ковка',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №5,7',
 'ковка',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №5,7',
 'нагрев',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11',
 'нагрев',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11',
 'нагрев',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11',
 'нагрев',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11',
 'нагрев',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11',
 'нагрев',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11',
 'ковка',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11',
 'ковка',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11',
 'Nothing',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11',
 'Nothing',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11',
 'Nothing',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11',
 'Nothing',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11',
 'Nothing',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11',
 'Nothing',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11',
 'Nothing',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11',
 'Nothing',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11',
 'Nothing',
 "1060'C",
 '[115-95]Б.',
 '6AL-7Nb, 34-15053-18 №9,11']

In [381]:
dop_rows = []
for i in range(1, 101):
    dop_rows += [f'temp_{i}', f'form_{i}', f'detal_{i}', f'operation_{i}']
# print(dop_rows)
df_answer = pd.DataFrame(columns=['печь']+dop_rows)
df_answer

Empty DataFrame
Columns: [печь, temp_1, form_1, detal_1, operation_1, temp_2, form_2, detal_2, operation_2, temp_3, form_3, detal_3, operation_3, temp_4, form_4, detal_4, operation_4, temp_5, form_5, detal_5, operation_5, temp_6, form_6, detal_6, operation_6, temp_7, form_7, detal_7, operation_7, temp_8, form_8, detal_8, operation_8, temp_9, form_9, detal_9, operation_9, temp_10, form_10, detal_10, operation_10, temp_11, form_11, detal_11, operation_11, temp_12, form_12, detal_12, operation_12, temp_13, form_13, detal_13, operation_13, temp_14, form_14, detal_14, operation_14, temp_15, form_15, detal_15, operation_15, temp_16, form_16, detal_16, operation_16, temp_17, form_17, detal_17, operation_17, temp_18, form_18, detal_18, operation_18, temp_19, form_19, detal_19, operation_19, temp_20, form_20, detal_20, operation_20, temp_21, form_21, detal_21, operation_21, temp_22, form_22, detal_22, operation_22, temp_23, form_23, detal_23, operation_23, temp_24, form_24, detal_24, operation_24, temp_25, form_25, detal_25, ...]
Index: []

[0 rows x 401 columns]

In [382]:
# df_answer.loc[ len(df_answer.index )] =['печь №1'] + row_curr
# df_answer

In [383]:
def excel_to_list(): 
    fur = ['Печь №2', 'Печь №3', 'Печь №10', 'Печь №15', 'Печь №20', 'Печь №21', 'Печь №22']
    for i, name in zip([5, 11, 17, 23, 29, 35, 41], fur):
        temp_list, form_list, detal_list, operation_list = get_lists(i)
        row_curr = []
        for o, i, j, k in zip(temp_list, form_list, detal_list, operation_list):
            row_curr += [o, i, j, k]
        row_curr
        #print(operation_list)
        df_answer.loc[ len(df_answer.index )] =[name] + row_curr
        
excel_to_list()
df_answer

,печь,temp_1,form_1,detal_1,operation_1,temp_2,form_2,detal_2,operation_2,temp_3,...,detal_98,operation_98,temp_99,form_99,detal_99,operation_99,temp_100,form_100,detal_100,operation_100
0,Печь №2,1060,[440-385]Б.1,"3AL-2,5V, 15143-18",нагрев,1060,[440-385]Б.1,"3AL-2,5V, 15143-18",нагрев,1060,...,"6AL-7Nb, 34-15053-18 №9,11",Nothing,1060,[115-95]Б.,"6AL-7Nb, 34-15053-18 №9,11",Nothing,1060,[115-95]Б.,"6AL-7Nb, 34-15053-18 №9,11",Nothing
1,Печь №3,960,[440-390]Б.,"Э110, 714-18-1слиток",нагрев,960,[440-390]Б.,"Э110, 714-18-1слиток",нагрев,960,...,"Э110, 234-18-1",Nothing,960,[440-120х300]Б.,"Э110, 234-18-1",Nothing,960,[440-120х300]Б.,"Э110, 234-18-1",Nothing
2,Печь №10,950,[235-205]Б.2,"6AL-4V, 34-15023-18 №1",нагрев,950,[235-205]Б.2,"6AL-4V, 34-15023-18 №1",нагрев,950,...,"6AL-4V, 34-8743-18",Nothing,950,[105-105]Б.1,"6AL-4V, 34-8743-18",Nothing,950,[105-105]Б.1,"6AL-4V, 34-8743-18",Nothing
3,Печь №15,950,nan,nan,нагрев,950,[235-205]Б.,"6AL-4V, 34-15023-18",нагрев,950,...,"6AL-4V, 34-8923-18 №1",Nothing,950,[185-165]Б.,"6AL-4V, 34-8923-18 №1",Nothing,950,[185-165]Б.,"6AL-4V, 34-8923-18 №1",Nothing
4,Печь №20,980,nan,nan,нагрев,980,nan,nan,нагрев,980,...,"6AL-4V, 34-8843-18 ч1",Nothing,950,[235-115]Б.,"6AL-4V, 34-8843-18 ч1",Nothing,950,[235-115]Б.,"6AL-4V, 34-8843-18 ч1",Nothing
5,Печь №21,950,nan,nan,нагрев,950,nan,nan,нагрев,950,...,"6AL-4V, 35-150073-18",Nothing,950,[390-360]Б.1,"6AL-4V, 35-150073-18",Nothing,950,[390-360]Б.1,"6AL-4V, 35-150073-18",Nothing
6,Печь №22,1060,nan,nan,нагрев,1060,nan,nan,нагрев,1060,...,"ПТ-7М, 5772-18",Nothing,1060,[440-115]Б.,"ПТ-7М, 5772-18",Nothing,1060,[440-115]Б.,"ПТ-7М, 5772-18",Nothing

In [384]:
df_answer.to_csv('answer_done.csv')

In [304]:
# color: status
legend = {}
for row in range(52, 60):
    legend[sheet.cell(row=row, column=1).fill.start_color.index]=sheet.cell(row=row , column=2).value
    
legend['FFFFD54F'] = 'нагрев'
legend['00000000'] = 'Nothing'
legend

{'FFF47710': 'отжиг',
 'FFFFC000': 'нагрев',
 'FFFFFF00': 'подогрев',
 'FF92D050': 'ковка',
 'FF7030A0': 'прокат',
 'FFC0C0C0': 'прерывание',
 2: 'в ручную - недоступность оборудования (ремонт или предыдущие операции)',
 'FFF2C0C0': 'перевод температуры',
 'FFFFD54F': 'нагрев',
 '00000000': 'Nothing'}