In [3]:
!pip install urllib2

ERROR: Could not find a version that satisfies the requirement urllib2 (from versions: none)
ERROR: No matching distribution found for urllib2

In [4]:
import json
import pandas as pd 

f = open('train/day-0.json')
data = json.load(f)
data

{'ovens': [{'start_temp': 1220,
   'working_temps': [960,
    1030,
    1190,
    1100,
    1230,
    1070,
    1110,
    1080,
    1240,
    1220],
   'operations': ['prokat', 'kovka']},
  {'start_temp': 990,
   'working_temps': [980, 1190, 1030, 1100, 990],
   'operations': ['otzhig', 'kovka']},
  {'start_temp': 1220,
   'working_temps': [970, 1060, 1220],
   'operations': ['otzhig']},
  {'start_temp': 1020,
   'working_temps': [1060, 1100, 1140, 1240, 1150, 1020],
   'operations': ['kovka']},
  {'start_temp': 1020,
   'working_temps': [970, 1100, 1070, 980, 1180, 990, 1020],
   'operations': ['otzhig']},
  {'start_temp': 1140,
   'working_temps': [1060, 1200, 1170, 1210, 1180, 1150, 1140],
   'operations': ['kovka']},
  {'start_temp': 1200,
   'working_temps': [960, 1100, 1190, 1030, 1200],
   'operations': ['otzhig']},
  {'start_temp': 1050,
   'working_temps': [960, 970, 1070, 1210, 1150, 1050],
   'operations': ['otzhig']},
  {'start_temp': 1020,
   'working_temps': [960, 970, 1070, 1010, 1170, 1020, 990],
   'operations': ['otzhig']},
  {'start_temp': 1090,
   'working_temps': [1220, 1030, 1000, 1160, 950, 1110, 1050, 990, 1090],
   'operations': ['kovka', 'otzhig']},
  {'start_temp': 1130,
   'working_temps': [1080, 1130, 1100],
   'operations': ['prokat']},
  {'start_temp': 1090,
   'working_temps': [1090, 1220, 1000, 1130, 1100, 1200, 1010, 1110, 1150],
   'operations': ['prokat']},
  {'start_temp': 1100,
   'working_temps': [1060, 1160, 1070, 1110, 950, 990, 1100],
   'operations': ['prokat', 'prokat']},
  {'start_temp': 1030,
   'working_temps': [1220, 1160, 1000, 1230, 1200, 1240, 1030],
   'operations': ['kovka']},
  {'start_temp': 980,
   'working_temps': [1040, 970, 1180, 1030, 980],
   'operations': ['prokat', 'prokat']},
  {'start_temp': 1010,
   'working_temps': [960, 1180, 1110, 1010],
   'operations': ['kovka']},
  {'start_temp': 1060,
   'working_temps': [1090,
    1220,
    1160,
    1100,
    1040,
    1170,
    950,
    1080,
    1020,
    1060],
   'operations': ['otzhig', 'kovka']},
  {'start_temp': 1110,
   'working_temps': [1120, 1060, 1190, 1000, 1200, 1040, 1170, 1110],
   'operations': ['kovka', 'prokat']},
  {'start_temp': 1000,
   'working_temps': [1160, 1090, 1050, 1020, 1000],
   'operations': ['otzhig']},
  {'start_temp': 1160,
   'working_temps': [1200, 1110, 1230, 1160],
   'operations': ['kovka']},
  {'start_temp': 1230,
   'working_temps': [1220, 1030, 1160, 1230, 1150],
   'operations': ['otzhig']},
  {'start_temp': 1000,
   'working_temps': [1100, 1040, 1200, 1170, 1010, 1080, 1210, 1150, 1000],
   'operations': ['otzhig']},
  {'start_temp': 1240,
   'working_temps': [1090, 1000, 1140, 950, 1020, 1240],
   'operations': ['otzhig']},
  {'start_temp': 1240,
   'working_temps': [1130, 970, 1230, 1040, 950, 1080, 1210, 1240],
   'operations': ['prokat', 'otzhig']},
  {'start_temp': 1170,
   'working_temps': [1000, 1160, 1130, 1010, 1210, 1170],
   'operations': ['kovka']},
  {'start_temp': 1070,
   'working_temps': [1240, 1010, 1220, 1070],
   'operations': ['prokat', 'prokat']},
  {'start_temp': 1180,
   'working_temps': [1120, 960, 1160, 1010, 1140, 1080, 1180],
   'operations': ['kovka']},
  {'start_temp': 1150,
   'working_temps': [1120, 1050, 1030, 970, 1040, 1170, 1010, 1210, 1150],
   'operations': ['prokat', 'kovka']},
  {'start_temp': 980,
   'working_temps': [1120, 1000, 1170, 1140, 1020, 980],
   'operations': ['prokat']},
  {'start_temp': 1120,
   'working_temps': [1140, 1220, 1060, 1120],
   'operations': ['otzhig', 'prokat']},
  {'start_temp': 1120,
   'working_temps': [1030, 1010, 1140, 950, 1210, 1150, 1120],
   'operations': ['prokat']},
  {'start_temp': 950,
   'working_temps': [960, 1120, 1190, 1160, 1070, 980, 1020, 990, 950],
   'operations': ['otzhig']},
  {'start_temp': 970,
   'working_temps': [1100, 1230, 1040, 1170, 1020, 990, 970],
   'operations': ['kovka']},
  {'start_temp': 1130,
   'working_temps': [1210, 1020, 1150, 1030, 1130],
   'operations': ['otzhig', 'kovka']},
  {'start_temp': 1110,
   'working_temps': [1130, 1230, 1070, 950, 1210, 1020, 1110],
   'operations': ['prokat', 'kovka']},
  {'start_temp': 1120,
   'working_temps': [1220, 1190, 1040, 1080, 1050, 1180, 990, 1120],
   'operations': ['kovka', 'otzhig']},
  {'start_temp': 1050,
   'working_temps': [1200, 950, 1240, 1050],
   'operations': ['kovka', 'otzhig']},
  {'start_temp': 1160,
   'working_temps': [1240, 1210, 1140, 1160],
   'operations': ['prokat']},
  {'start_temp': 1150,
   'working_temps': [1090, 1060, 1190, 970, 1170, 980, 1080, 1180, 1150],
   'operations': ['otzhig']},
  {'start_temp': 1010,
   'working_temps': [1130, 1020, 1070, 1010, 950, 1180],
   'operations': ['prokat']},
  {'start_temp': 1090,
   'working_temps': [1040, 1020, 1160, 1090],
   'operations': ['prokat']},
  {'start_temp': 1070,
   'working_temps': [1000, 1130, 1070, 1230, 1170, 1240, 1020],
   'operations': ['prokat', 'otzhig']},
  {'start_temp': 1150,
   'working_temps': [1180, 1020, 950, 1030, 1150],
   'operations': ['otzhig']},
  {'start_temp': 960,
   'working_temps': [1090, 1060, 1190, 1160, 1170, 990, 960],
   'operations': ['otzhig']},
  {'start_temp': 1080,
   'working_temps': [1000, 1040, 1020, 1070, 1080],
   'operations': ['kovka']},
  {'start_temp': 1030,
   'working_temps': [1030, 970, 1100, 1040, 950, 1050],
   'operations': ['kovka']},
  {'start_temp': 1230,
   'working_temps': [960, 1130, 1070, 1230],
   'operations': ['otzhig']},
  {'start_temp': 1060,
   'working_temps': [1080, 1090, 1120, 1130, 1060],
   'operations': ['otzhig', 'prokat']},
  {'start_temp': 1120,
   'working_temps': [1120, 1040, 1200, 1170, 1010, 1110, 990],
   'operations': ['kovka', 'kovka']},
  {'start_temp': 970,
   'working_temps': [1120, 1190, 1200, 980, 1110, 1080, 1050, 1240, 970],
   'operations': ['kovka']},
  {'start_temp': 1100,
   'working_temps': [1060, 1190, 1100, 1230, 1170, 1020, 1150],
   'operations': ['otzhig', 'kovka']},
  {'start_temp': 1020,
   'working_temps': [1120, 1210, 1020],
   'operations': ['otzhig', 'otzhig']},
  {'start_temp': 1030,
   'working_temps': [1110, 1180, 1230, 1030],
   'operations': ['prokat', 'kovka']},
  {'start_temp': 1140,
   'working_temps': [1090, 1100, 1170, 1110, 1240, 1140],
   'operations': ['prokat', 'kovka']},
  {'start_temp': 1240,
   'working_temps': [1120, 1090, 1100, 1230, 1040, 1240],
   'operations': ['kovka', 'prokat']},
  {'start_temp': 970,
   'working_temps': [970, 1040, 1210, 1180, 990],
   'operations': ['kovka']},
  {'start_temp': 1220,
   'working_temps': [1110, 1100, 1150, 1220],
   'operations': ['prokat', 'kovka']},
  {'start_temp': 960,
   'working_temps': [1130, 1100, 1040, 1140, 1110, 950, 1050, 1020, 960],
   'operations': ['prokat', 'otzhig']},
  {'start_temp': 1130,
   'working_temps': [960, 1010, 1180, 1150, 1130],
   'operations': ['prokat', 'otzhig']},
  {'start_temp': 1020,
   'working_temps': [1240, 1090, 950, 1150, 1020],
   'operations': ['otzhig']},
  {'start_temp': 1040,
   'working_temps': [1090, 1030, 1130, 1100, 1200, 1020, 990, 1040],
   'operations': ['kovka', 'kovka']},
  {'start_temp': 1100,
   'working_temps': [1120, 1200, 1010, 1240, 1050, 1100],
   'operations': ['otzhig', 'prokat']},
  {'start_temp': 1240,
   'working_temps': [1090, 970, 1230, 1210, 1020, 1240],
   'operations': ['prokat', 'otzhig']},
  {'start_temp': 1090,
   'working_temps': [1030, 1160, 970, 1100, 1070, 1040, 1240, 1180, 1090],
   'operations': ['kovka']},
  {'start_temp': 1100,
   'working_temps': [1070, 1140, 1150, 1120, 1100],
   'operations': ['prokat']},
  {'start_temp': 1080,
   'working_temps': [1090, 1220, 1040, 1110, 1020, 1080],
   'operations': ['prokat', 'prokat']},
  {'start_temp': 970,
   'working_temps': [1090, 1030, 1200, 1040, 1080, 1020, 1240, 970],
   'operations': ['prokat']},
  {'start_temp': 970,
   'working_temps': [1080, 1090, 1190, 970],
   'operations': ['prokat', 'otzhig']},
  {'start_temp': 1180,
   'working_temps': [1080,
    1130,
    1020,
    1170,
    980,
    1140,
    1110,
    1240,
    1210,
    1180],
   'operations': ['otzhig', 'prokat']},
  {'start_temp': 1160,
   'working_temps': [1200, 1000, 980, 1160],
   'operations': ['prokat']},
  {'start_temp': 1240,
   'working_temps': [1040, 1170, 1090, 1240],
   'operations': ['kovka']},
  {'start_temp': 1050,
   'working_temps': [1210, 990, 1030, 1050],
   'operations': ['kovka']},
  {'start_temp': 970,
   'working_temps': [1120, 1170, 1140, 1060, 970],
   'operations': ['otzhig', 'kovka']},
  {'start_temp': 1030,
   'working_temps': [1000, 1130, 1100, 1110, 1030],
   'operations': ['otzhig', 'prokat']},
  {'start_temp': 1220,
   'working_temps': [1200, 1040, 1050, 980, 1220],
   'operations': ['prokat']},
  {'start_temp': 1090,
   'working_temps': [960, 1090, 1220, 1190, 1160, 1110, 1240, 1180],
   'operations': ['otzhig', 'prokat']},
  {'start_temp': 1060,
   'working_temps': [960, 1210, 1070, 1040, 1010, 1240, 1080, 1020, 1060],
   'operations': ['kovka', 'prokat']},
  {'start_temp': 1200,
   'working_temps': [1050, 1040, 1010, 980, 1210, 1020, 1200],
   'operations': ['otzhig', 'kovka']},
  {'start_temp': 1210,
   'working_temps': [1220, 1160, 1040, 980, 1240, 1180, 1210],
   'operations': ['prokat', 'otzhig']},
  {'start_temp': 990,
   'working_temps': [1060, 1000, 970, 1100, 1180, 1170, 1140, 1020, 990],
   'operations': ['kovka', 'otzhig']},
  {'start_temp': 1030,
   'working_temps': [1120, 1220, 1060, 1230, 1070, 1170, 1080, 1030],
   'operations': ['otzhig', 'kovka']},
  {'start_temp': 1110,
   'working_temps': [1120, 1090, 1210, 1000, 1100, 1070, 950, 1050, 990, 1110],
   'operations': ['prokat']},
  {'start_temp': 990,
   'working_temps': [1030, 1000, 1160, 1040, 1200, 1110, 1210, 990],
   'operations': ['prokat']},
  {'start_temp': 1100,
   'working_temps': [960, 1000, 970, 1070, 1040, 1010, 990, 1150, 1100],
   'operations': ['prokat']},
  {'start_temp': 1180,
   'working_temps': [960, 1190, 1160, 1100, 950, 1110, 1240, 1180],
   'operations': ['prokat', 'otzhig']},
  {'start_temp': 1010,
   'working_temps': [1050, 1010, 1020, 1230],
   'operations': ['otzhig', 'otzhig']},
  {'start_temp': 1200,
   'working_temps': [1120, 1210, 1050, 1200],
   'operations': ['otzhig']},
  {'start_temp': 990,
   'working_temps': [1120, 1030, 1230, 980, 1210, 990],
   'operations': ['otzhig', 'prokat']},
  {'start_temp': 1070,
   'working_temps': [1000, 1230, 950, 1110, 1050, 1150, 1070],
   'operations': ['otzhig']},
  {'start_temp': 970,
   'working_temps': [1220, 1060, 970, 1080, 990],
   'operations': ['prokat', 'otzhig']},
  {'start_temp': 1010,
   'working_temps': [1160, 1130, 1100, 1010],
   'operations': ['prokat', 'otzhig']},
  {'start_temp': 970,
   'working_temps': [1160, 1000, 1090, 1070, 970],
   'operations': ['prokat', 'kovka']},
  {'start_temp': 1080,
   'working_temps': [1190, 1160, 1230, 1200, 980, 1080],
   'operations': ['kovka', 'otzhig']},
  {'start_temp': 1240,
   'working_temps': [1060, 1000, 1130, 970, 1230, 980, 1240, 1180, 990],
   'operations': ['kovka', 'kovka']},
  {'start_temp': 1120,
   'working_temps': [1030, 1040, 980, 1080, 1210, 1120],
   'operations': ['prokat']},
  {'start_temp': 1190,
   'working_temps': [1200, 1100, 990, 950, 1190],
   'operations': ['prokat']},
  {'start_temp': 1060,
   'working_temps': [1050, 1160, 1070, 1010, 980, 1240, 1210, 1060],
   'operations': ['kovka']},
  {'start_temp': 1010,
   'working_temps': [960, 1060, 1130, 1200, 950, 1240, 1210, 1010],
   'operations': ['otzhig']},
  {'start_temp': 1060,
   'working_temps': [1080, 1060, 960],
   'operations': ['otzhig', 'kovka']},
  {'start_temp': 1070,
   'working_temps': [1190, 1030, 1000, 970, 1010, 1140, 1020, 990, 1070],
   'operations': ['otzhig', 'kovka']},
  {'start_temp': 990,
   'working_temps': [1090,
    1060,
    1190,
    1000,
    1070,
    1200,
    1170,
    1110,
    1080,
    1180,
    990],
   'operations': ['kovka']},
  {'start_temp': 1130,
   'working_temps': [1120, 960, 1090, 1060, 1240, 1130],
   'operations': ['kovka']},
  {'start_temp': 990,
   'working_temps': [1120, 1000, 1160, 1070, 1040, 1170, 1140, 990],
   'operations': ['otzhig', 'otzhig']},
  {'start_temp': 1170,
   'working_temps': [970, 1010, 1170, 1140, 1240, 1210, 1180],
   'operations': ['prokat']},
  {'start_temp': 950,
   'working_temps': [1190, 1020, 1070, 950, 1050, 1180],
   'operations': ['kovka']},
  {'start_temp': 1230,
   'working_temps': [1190, 1130, 1200, 1040, 980, 950, 1110, 1230],
   'operations': ['kovka', 'kovka']},
  {'start_temp': 1170,
   'working_temps': [1120, 960, 1030, 970, 1100, 1200, 1110, 950, 1210, 1170],
   'operations': ['prokat']},
  {'start_temp': 1020,
   'working_temps': [1120, 1190, 1030, 1100, 1040, 980, 1080, 990, 1020],
   'operations': ['kovka', 'otzhig']},
  {'start_temp': 990,
   'working_temps': [1160, 1070, 1180, 1230, 990],
   'operations': ['kovka', 'prokat']},
  {'start_temp': 1030,
   'working_temps': [1120, 960, 1090, 980, 1020, 1030],
   'operations': ['otzhig', 'kovka']},
  {'start_temp': 1240,
   'working_temps': [1030,
    1100,
    1200,
    1170,
    1140,
    1080,
    1210,
    1020,
    1150,
    1240],
   'operations': ['prokat']},
  {'start_temp': 1210,
   'working_temps': [1080, 1100, 1070, 1010, 1240, 1050, 1210],
   'operations': ['kovka']},
  {'start_temp': 1100,
   'working_temps': [1090, 1190, 1160, 1000, 1230, 1170, 1080, 1100],
   'operations': ['otzhig', 'kovka']},
  {'start_temp': 950,
   'working_temps': [1120, 1060, 1100, 1230, 950, 1080, 1020],
   'operations': ['prokat']},
  {'start_temp': 1020,
   'working_temps': [1160, 1050, 1020, 1150],
   'operations': ['otzhig']},
  {'start_temp': 1230,
   'working_temps': [1120, 1190, 1010, 980, 1050, 1230],
   'operations': ['otzhig', 'otzhig']},
  {'start_temp': 1210,
   'working_temps': [1190, 1100, 980, 990, 950, 1180, 1150, 1210],
   'operations': ['prokat', 'otzhig']},
  {'start_temp': 1020,
   'working_temps': [1000, 1010, 1210, 1070, 1020],
   'operations': ['kovka', 'otzhig']},
  {'start_temp': 1170,
   'working_temps': [1040, 1170, 980, 1060],
   'operations': ['prokat']},
  {'start_temp': 1240,
   'working_temps': [1120, 1190, 1000, 1160, 1200, 1240, 1180],
   'operations': ['kovka', 'otzhig']},
  {'start_temp': 1110,
   'working_temps': [1160, 1130, 1230, 1010, 1180, 1150, 1110],
   'operations': ['prokat', 'kovka']},
  {'start_temp': 970,
   'working_temps': [1220, 1000, 1130, 1070, 1240, 1150, 970],
   'operations': ['prokat']},
  {'start_temp': 1110,
   'working_temps': [1220, 970, 1040, 1140, 1240, 1110],
   'operations': ['prokat', 'otzhig']},
  {'start_temp': 960,
   'working_temps': [1190, 1030, 970, 1230, 980, 1080, 1210, 960],
   'operations': ['otzhig']},
  {'start_temp': 1030,
   'working_temps': [1000, 1080, 960, 1030],
   'operations': ['kovka', 'kovka']},
  {'start_temp': 1230,
   'working_temps': [1130, 1200, 1040, 1140, 1210, 1020, 1230],
   'operations': ['kovka']},
  {'start_temp': 1130,
   'working_temps': [1130, 1140, 1090],
   'operations': ['kovka']},
  {'start_temp': 960,
   'working_temps': [1010, 950, 1030, 960],
   'operations': ['prokat', 'otzhig']},
  {'start_temp': 1220,
   'working_temps': [1060, 1100, 1070, 1110, 950, 990, 1220],
   'operations': ['otzhig']},
  {'start_temp': 1130,
   'working_temps': [960, 1070, 1230, 1170, 1240, 1150, 1130],
   'operations': ['kovka']},
  {'start_temp': 1110,
   'working_temps': [1090, 1030, 1160, 1200, 950, 1180, 1150, 1110],
   'operations': ['otzhig', 'kovka']},
  {'start_temp': 1050,
   'working_temps': [1190, 970, 1070, 1040, 1110, 950, 1050],
   'operations': ['otzhig']},
  {'start_temp': 1080,
   'working_temps': [1080, 1000, 1230, 960],
   'operations': ['kovka']},
  {'start_temp': 1100,
   'working_temps': [1190, 1100, 1230, 1200, 1140, 1050],
   'operations': ['kovka']},
  {'start_temp': 1100,
   'working_temps': [1120, 1180, 1150, 1240, 1100],
   'operations': ['otzhig']},
  {'start_temp': 1160,
   'working_temps': [1030, 1130, 1100, 1040, 1170, 1210, 1150, 1160],
   'operations': ['prokat']},
  {'start_temp': 1130,
   'working_temps': [960, 1190, 1100, 1010, 1170, 1110, 1080, 990, 1130],
   'operations': ['prokat']},
  {'start_temp': 970,
   'working_temps': [1100, 1010, 1080, 1050, 1020, 970],
   'operations': ['prokat', 'prokat']},
  {'start_temp': 1010,
   'working_temps': [1090, 1220, 1030, 1000, 1040, 1010, 1170, 1110, 1020],
   'operations': ['kovka']},
  {'start_temp': 950,
   'working_temps': [1120, 1230, 1110, 950, 1180],
   'operations': ['prokat', 'kovka']},
  {'start_temp': 1190,
   'working_temps': [1120, 950, 1030, 1190],
   'operations': ['otzhig']},
  {'start_temp': 1110,
   'working_temps': [1200, 1130, 1100, 1110],
   'operations': ['otzhig']},
  {'start_temp': 1130,
   'working_temps': [960, 1060, 1030, 1000, 1100, 1040, 1200, 980, 1210, 1130],
   'operations': ['otzhig', 'kovka']},
  {'start_temp': 1240,
   'working_temps': [960, 1220, 950, 1020, 990, 1240],
   'operations': ['otzhig']},
  {'start_temp': 1090,
   'working_temps': [970, 1090, 1220],
   'operations': ['kovka']},
  {'start_temp': 1220,
   'working_temps': [1090, 1160, 1200, 950, 1110, 1240, 1050, 1180, 1220],
   'operations': ['otzhig', 'kovka']},
  {'start_temp': 990,
   'working_temps': [1190, 970, 1200, 1140, 1050, 990],
   'operations': ['prokat']},
  {'start_temp': 1140,
   'working_temps': [1240, 1090, 1140, 1070],
   'operations': ['otzhig']},
  {'start_temp': 1070,
   'working_temps': [1160, 1220, 1070],
   'operations': ['prokat', 'kovka']},
  {'start_temp': 970,
   'working_temps': [1070, 990, 1030, 970],
   'operations': ['kovka']},
  {'start_temp': 1210,
   'working_temps': [1100, 1070, 1230, 1040, 1200, 1010, 1020, 990, 1210],
   'operations': ['kovka']},
  {'start_temp': 1170,
   'working_temps': [1220, 1060, 1040, 1170, 1010, 1240, 1180, 1150],
   'operations': ['kovka', 'prokat']},
  {'start_temp': 1190,
   'working_temps': [970, 1070, 1230, 1200, 1010, 1140, 950, 1150, 990, 1190],
   'operations': ['kovka']},
  {'start_temp': 1100,
   'working_temps': [960, 1170, 1220, 1030, 1100],
   'operations': ['otzhig', 'prokat']},
  {'start_temp': 1010,
   'working_temps': [1090, 1030, 1100, 1230, 1010, 1110, 950, 1210],
   'operations': ['otzhig', 'kovka']},
  {'start_temp': 1130,
   'working_temps': [1120, 1190, 1160, 1200, 1080, 1130],
   'operations': ['otzhig', 'otzhig']},
  {'start_temp': 1100,
   'working_temps': [1060, 1220, 1190, 1000, 1020, 1230, 1180, 990, 1100],
   'operations': ['otzhig']},
  {'start_temp': 1140,
   'working_temps': [1060, 1000, 1210, 950, 1050, 1020, 990, 1140],
   'operations': ['kovka']},
  {'start_temp': 1160,
   'working_temps': [960, 1080, 1130, 980, 1240, 1210, 1160],
   'operations': ['prokat', 'kovka']},
  {'start_temp': 1070,
   'working_temps': [1090, 1160, 1110, 1210, 1020, 1070],
   'operations': ['kovka']},
  {'start_temp': 980,
   'working_temps': [1060, 1000, 1130, 1070, 1230, 1170, 1110, 1240, 980],
   'operations': ['kovka', 'prokat']},
  {'start_temp': 1110,
   'working_temps': [1120, 1000, 1230, 1240, 1020, 1150, 1110],
   'operations': ['otzhig', 'prokat']},
  {'start_temp': 960,
   'working_temps': [1190, 1100, 1010, 1140, 1110, 1080, 960],
   'operations': ['prokat', 'kovka']},
  {'start_temp': 1120,
   'working_temps': [1220,
    1060,
    1000,
    1130,
    1100,
    1230,
    1200,
    1040,
    1010,
    1240,
    1120],
   'operations': ['kovka']},
  {'start_temp': 980,
   'working_temps': [1090, 1030, 970, 1100, 1070, 1140, 980],
   'operations': ['kovka', 'kovka']},
  {'start_temp': 950,
   'working_temps': [1080, 1170, 1230, 950],
   'operations': ['kovka']},
  {'start_temp': 1000,
   'working_temps': [960, 1220, 1060, 1130, 1100, 950, 1080, 1050, 1180, 1000],
   'operations': ['kovka', 'otzhig']},
  {'start_temp': 1020,
   'working_temps': [1080, 1050, 1220, 1020],
   'operations': ['otzhig']},
  {'start_temp': 1230,
   'working_temps': [1220, 1030, 1160, 1230, 1150],
   'operations': ['otzhig']},
  {'start_temp': 1030,

In [9]:
df = pd.json_normalize(data)
df

,ovens,series
0,"[{'start_temp': 1220, 'working_temps': [960, 1...","[{'temperature': 1080, 'operations': [{'name':..."

In [10]:
ovens = pd.json_normalize(data['ovens'])
ovens

,start_temp,working_temps,operations
0,1220,"[960, 1030, 1190, 1100, 1230, 1070, 1110, 1080...","[prokat, kovka]"
1,990,"[980, 1190, 1030, 1100, 990]","[otzhig, kovka]"
2,1220,"[970, 1060, 1220]",[otzhig]
3,1020,"[1060, 1100, 1140, 1240, 1150, 1020]",[kovka]
4,1020,"[970, 1100, 1070, 980, 1180, 990, 1020]",[otzhig]
...,...,...,...
417,1240,"[960, 1040, 1180, 1070, 1240]",[kovka]
418,1050,"[1030, 1160, 1040, 980, 1110, 1020, 990, 1050]",[prokat]
419,1140,"[1060, 1230, 1040, 1170, 990, 1140]",[kovka]
420,950,"[1030, 1190, 1160, 1070, 980, 950]",[prokat]
421,1150,"[1220, 1030, 1160, 1100, 1230, 1050, 1150]","[otzhig, prokat]"

In [ ]:
# TODO: 
ovens_to_dumm

In [24]:
all_x = set()
all_y = set()

def do_uniq_f(x, y):
    x = tuple(x)
    y = tuple(y)
    if x not in all_x or y not in all_y:
        all_x.add(x)
        all_y.add(y)
        return 1
    
    return 0

ovens_uniq = [do_uniq_f(x, y) for x, y in zip(ovens['working_temps'], ovens['operations'])]
ovens_uniq

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [26]:
ovens_uniq.count(1)
ovens_uniq.count(0)

9

In [30]:
sorted(all_x)

[(960, 970, 980, 1110, 1240, 1210, 1230),
 (960, 970, 1070, 1010, 1170, 1020, 990),
 (960, 970, 1070, 1210, 1150, 1050),
 (960, 1000, 970, 1070, 1040, 1010, 990, 1150, 1100),
 (960, 1000, 970, 1100, 1200, 1240, 1050, 1080),
 (960, 1000, 1200, 980, 1080, 1210, 1180, 1190),
 (960, 1000, 1200, 1010, 1240, 1090),
 (960, 1000, 1230, 1200, 1180, 1170, 1110, 1080, 1020, 1140),
 (960, 1010, 1180, 1150, 1130),
 (960, 1030, 1160, 1100, 1150, 1240),
 (960, 1030, 1190, 1100, 1230, 1070, 1110, 1080, 1240, 1220),
 (960, 1040, 1180, 1070, 1240),
 (960, 1050, 1240, 1130),
 (960, 1060, 1030, 1000, 1100, 1040, 1200, 980, 1210, 1130),
 (960, 1060, 1030, 1160, 1200, 1010, 1140, 950, 1080, 990),
 (960, 1060, 1130, 970, 990, 950, 1050, 1180, 1150, 1080),
 (960, 1060, 1130, 1200, 950, 1240, 1210, 1010),
 (960, 1060, 1130, 1200, 1140, 1240, 1150),
 (960, 1060, 1220, 1160, 1130, 1110, 1150, 970),
 (960, 1070, 1230, 1170, 1240, 1150, 1130),
 (960, 1080, 1130, 980, 1240, 1210, 1160),
 (960, 1090, 970, 1020, 1080, 1210, 1180, 1070),
 (960, 1090, 1030, 1000, 1130, 1040, 980, 1080, 1230),
 (960, 1090, 1030, 1100, 1010, 1170, 1140, 1210, 1180, 980),
 (960, 1090, 1030, 1160, 970, 1070, 1040, 1200, 980, 1150),
 (960, 1090, 1060, 1190, 1070, 1200, 1080, 1100),
 (960, 1090, 1110, 1180, 1150, 990),
 (960, 1090, 1160, 1100, 1040, 1010, 980, 1110, 1080, 1180),
 (960, 1090, 1220, 1110, 1080, 1020, 990),
 (960, 1090, 1220, 1190, 1160, 1110, 1240, 1180),
 (960, 1100, 1190, 1030, 1200),
 (960, 1100, 1200, 1110, 1180, 1240),
 (960, 1120, 1000, 1040, 1210, 1190),
 (960, 1120, 1060, 1190, 1200, 950, 1240, 1180, 1150),
 (960, 1120, 1190, 1160, 1070, 980, 1020, 990, 950),
 (960, 1120, 1220, 1130, 1230, 990),
 (960, 1120, 1220, 1160, 970, 1040, 980, 1020),
 (960, 1130, 970, 1070, 1200, 1040, 980, 990, 1150, 1080),
 (960, 1130, 1070, 1230),
 (960, 1130, 1070, 1230, 1200, 1010, 1170, 1080, 1210),
 (960, 1130, 1100, 1230, 950, 1020, 990, 1120),
 (960, 1130, 1200, 1170, 1180, 1090),
 (960, 1160, 1070, 1180, 990, 1150),
 (960, 1170, 1130, 1070),
 (960, 1170, 1220, 1030, 1100),
 (960, 1180, 1110, 1010),
 (960, 1190, 1100, 1010, 1170, 1110, 1080, 990, 1130),
 (960, 1190, 1100, 1070, 1010, 1110, 1210, 1120),
 (960, 1190, 1110, 1050, 1020, 990),
 (960, 1190, 1130, 1100, 1010, 980, 1140, 1240, 1230),
 (960, 1190, 1160, 1100, 950, 1110, 1240, 1180),
 (960, 1190, 1230, 1040, 1170, 1140, 950, 1020),
 (960, 1200, 1040, 1170, 980, 1110, 1050, 1180),
 (960, 1210, 1070, 980, 1050, 1180, 1110),
 (960, 1210, 1070, 1040, 1010, 1240, 1080, 1020, 1060),
 (960, 1220, 950, 1020, 990, 1240),
 (960, 1220, 1030, 1130, 1200),
 (960, 1220, 1060, 1040, 1010, 1180),
 (960, 1220, 1060, 1130, 1100, 950, 1080, 1050, 1180, 1000),
 (960, 1220, 1060, 1190, 1100, 1140, 950, 1090),
 (960, 1220, 1130, 1110, 1080, 1240, 1050),
 (960, 1220, 1160, 1100, 1070, 1010, 1080, 1150, 1190),
 (960, 1220, 1160, 1230, 1070, 1010, 1150, 1140),
 (970, 1010, 1170, 1140, 1240, 1210, 1180),
 (970, 1020, 1060),
 (970, 1040, 1210, 1180, 990),
 (970, 1050, 1170, 1100),
 (970, 1060, 1220),
 (970, 1070, 1230, 1200, 1010, 1140, 950, 1150, 990, 1190),
 (970, 1090, 1220),
 (970, 1100, 1070, 980, 1180, 990, 1020),
 (970, 1170, 1220, 1100, 1130),
 (970, 1190, 1230, 960),
 (970, 1200, 1080, 1150, 1180, 990),
 (970, 1220, 1020, 1030),
 (980, 1190, 1030, 1100, 990),
 (1000, 950, 990, 1120),
 (1000, 970, 1130, 1040, 1050, 1020, 990, 1220),
 (1000, 1010, 1210, 1070, 1020),
 (1000, 1040, 1020, 1070, 1080),
 (1000, 1040, 1130, 1120),
 (1000, 1070, 1040, 1010, 980, 950, 1020, 1150),
 (1000, 1080, 960, 1030),
 (1000, 1100, 1170, 950, 1150, 1220),
 (1000, 1120, 960, 1080),
 (1000, 1130, 1070, 1230, 1170, 1240, 1020),
 (1000, 1130, 1100, 1110, 1030),
 (1000, 1160, 1100, 1070, 1040, 980, 1110, 1080),
 (1000, 1160, 1130, 1010, 1210, 1170),
 (1000, 1170, 1140, 1240, 1180),
 (1000, 1230, 950, 1110, 1050, 1150, 1070),
 (1010, 950, 1030, 960),
 (1010, 980, 1040),
 (1020, 1190, 950),
 (1030, 970, 1020, 1040, 1140, 1210, 1180, 1080),
 (1030, 970, 1070, 1230, 1040, 1200, 1010, 1110, 1050, 1020, 1210),
 (1030, 970, 1100, 1040, 950, 1050),
 (1030, 970, 1100, 1230, 1080, 1180, 990, 1210),
 (1030, 970, 1130, 1010, 1140, 1180, 960),
 (1030, 970, 1170, 950, 1240, 1020, 1200),
 (1030, 1000, 970, 1170, 1240, 1020, 990),
 (1030, 1000, 1160, 1040, 1200, 1110, 1210, 990),
 (1030, 1000, 1170, 980, 1050, 1020, 1040),
 (1030, 1010, 1140, 950, 1210, 1150, 1120),
 (1030, 1040, 980, 1080, 1210, 1120),
 (1030, 1100, 1200, 1170, 1140, 1080, 1210, 1020, 1150, 1240),
 (1030, 1130, 1070, 1040, 1140, 1110, 1050, 1180, 1080),
 (1030, 1130, 1100, 1040, 1170, 1210, 1150, 1160),
 (1030, 1160, 970, 1100, 1070, 1040, 1240, 1180, 1090),
 (1030, 1160, 970, 1130, 1180, 990, 1230),
 (1030, 1160, 1040, 980, 1110, 1020, 990, 1050),
 (1030, 1160, 1130, 970, 1040, 1110, 1240, 980),
 (1030, 1190, 1160, 1070, 980, 950),
 (1040, 970, 1180, 1030, 980),
 (1040, 1020, 960, 1190),
 (1040, 1020, 1160, 1090),
 (1040, 1140, 990, 960, 1180),
 (1040, 1170, 980, 1060),
 (1040, 1170, 1090, 1240),
 (1040, 1210, 1120, 1160),
 (1040, 1210, 1180, 1020, 950),
 (1040, 1220, 990, 1230),
 (1050, 970, 1130, 1240, 1210, 1020, 1200),
 (1050, 980, 1030, 1120),
 (1050, 1010, 1020, 1230),
 (1050, 1010, 1140),
 (1050, 1040, 1010, 980, 1210, 1020, 1200),
 (1050, 1100, 1010, 1170, 1110, 1210, 1020, 1200),
 (1050, 1160, 1070, 1010, 980, 1240, 1210, 1060),
 (1060, 970, 1100, 1170, 1010, 1050, 1020),
 (1060, 970, 1100, 1230, 1170, 1140, 1050, 1150),
 (1060, 970, 1140, 1210, 1180, 1220),
 (1060, 970, 1230, 1040, 1240, 1050, 1020, 1090),
 (1060, 1000, 970, 1100, 1180, 1170, 1140, 1020, 990),
 (1060, 1000, 1010, 1170, 980, 950, 1080, 1190),
 (1060, 1000, 1130, 970, 1230, 980, 1240, 1180, 990),
 (1060, 1000, 1130, 1070, 1230, 1170, 1110, 1240, 980),
 (1060, 1000, 1160, 950, 1180, 990, 1110),
 (1060, 1000, 1210, 950, 1050, 1020, 990, 1140),
 (1060, 1030, 950, 1110, 1210, 1180, 1010),
 (1060, 1100, 1070, 1110, 950, 990, 1220),
 (1060, 1100, 1140, 1240, 1150, 1020),
 (1060, 1100, 1200, 1040, 1180, 980, 1150, 1020, 990, 1110),
 (1060, 1100, 1230, 1110, 950, 1080, 1210, 1140),
 (1060, 1160, 1000, 970, 1240, 1210, 1200),
 (1060, 1160, 1070, 1110, 950, 990, 1100),
 (1060, 1160, 1140, 980, 950, 1240, 990),
 (1060, 1160, 1140, 1110, 1240, 1020, 1150, 1190),
 (1060, 1190, 970, 1100, 1070, 1170, 1180, 990, 1160),
 (1060, 1190, 1100, 1230, 1170, 1020, 1150),
 (1060, 1190, 1140, 980, 1050, 1040),
 (1060, 1190, 1230, 1010, 1050, 970),
 (1060, 1200, 1170, 1210, 1180, 1150, 1140),
 (1060, 1220, 1180, 950, 980),
 (1060, 1220, 1190, 1000, 1020, 1230, 1180, 990, 1100),
 (1060, 1230, 1040, 1170, 990, 1140),
 (1060, 1230, 1040, 1180, 950, 1240, 1210, 1020, 960),
 (1070, 990, 1030, 970),
 (1070, 1090, 1180, 1190, 1240),
 (1070, 1130, 1060, 990, 1210),
 (1070, 1140, 1150, 1120, 1100),
 (1070, 1150, 1190, 1170),
 (1070, 1170, 1190, 1090),
 (1070, 1180, 1110, 1240),
 (1070, 1210, 990, 1220),
 (1080, 1000, 1230, 960),
 (1080, 1050, 1220, 1020),
 (1080, 1060, 960),
 (1080, 1090, 1120, 1130, 1060),
 (1080, 1090, 1190, 970),
 (1080, 1100, 1070, 1010, 1240, 1050, 1210),
 (1080, 1130, 1020, 1170, 980, 1140, 1110, 1240, 1210, 1180),
 (1080, 1130, 1100),
 (1080, 1130, 1100, 1010),
 (1080, 1140, 1100, 1240, 960),
 (1080, 1170, 1230, 950),
 (1080, 1210, 1030, 1100),
 (1090, 970, 1100, 1200, 1140, 1050, 1180, 990),
 (1090, 970, 1230, 1010, 1170, 1110, 1080, 1020, 980),
 (1090, 970, 1230, 1040, 1080, 1050, 1060),
 (1090, 970, 1230, 1210, 1020, 1240),
 (1090, 1000, 1140, 950, 1020, 1240),
 (1090, 1000, 1160, 970, 1200, 950, 1220),
 (1090, 1030, 970, 1100, 1070, 1140, 980),
 (1090, 1030, 1020, 1070, 1180),
 (1090, 1030, 1040, 1140, 1050, 1180, 1220),
 (1090, 1030, 1100, 1230, 1010, 1110, 950, 1210),
 (1090, 1030, 1130, 1100, 1200, 1020, 990, 1040),
 (1090, 1030, 1160, 1200, 950, 1180, 1150, 1110),
 (1090, 1030, 1200, 980, 1110, 1020, 950),
 (1090, 1030, 1200, 1040, 1080, 1020, 1240, 970),
 (1090, 1050, 980, 1010),
 (1090, 1050, 1190, 1030, 1070, 1140, 1210, 1180, 990),
 (1090, 1050, 1220, 1060, 1200, 950, 1210, 1020),
 (1090, 1060, 970, 1130, 1070, 1200, 980, 1180, 990, 1190),
 (1090, 1060, 1000, 1170, 1140, 1080, 1020, 1150, 1240),
 (1090, 1060, 1030, 970, 1130, 1070),
 (1090, 1060, 1190, 970, 1170, 980, 1080, 1180, 1150),
 (1090, 1060, 1190, 1000, 1070, 1200, 1170, 1110, 1080, 1180, 990),
 (1090, 1060, 1190, 1160, 1170, 990, 960),
 (1090, 1070, 1170, 1240, 1180, 990, 950),
 (1090, 1080, 1190, 1000, 1130, 970, 1110, 950, 1240, 1050, 1010),
 (1090, 1100, 1170, 1110, 1240, 1140),
 (1090, 1130, 970, 1100, 1180, 1170, 1080, 1020),
 (1090, 1160, 1000, 1130, 980, 1080, 1210, 1240, 1200),
 (1090, 1160, 1100, 1200, 1170, 1010, 1240, 1180, 1210),
 (1090, 1160, 1100, 1230, 1200, 1010, 1140, 1180),
 (1090, 1160, 1110, 1210, 1020, 1070),
 (1090, 1160, 1200, 950, 1110, 1240, 1050, 1180, 1220),
 (1090, 1170, 980, 1210, 1180, 960),
 (1090, 1190, 970, 1100, 1180, 1150),
 (1090, 1190, 980, 1140, 1110, 1080, 1050, 1020, 1100),
 (1090, 1190, 1000, 1130, 1230, 950, 1080, 990, 1060),
 (1090, 1190, 1070, 1170),
 (1090, 1190, 1160, 1000, 1230, 1170, 1080, 1100),
 (1090, 1190, 1230, 1200, 1110, 950, 1060),
 (1090, 1220, 970, 990, 1080, 1020, 1150, 1120),
 (1090, 1220, 1000, 1130, 1100, 1200, 1010, 1110, 1150),
 (1090, 1220, 1030, 1000, 1040, 1010, 1170, 1110, 1020),
 (1090, 1220, 1040, 1110, 1020, 1080),
 (1090, 1220, 1060, 1040, 980, 1110, 1210, 960),
 (1090, 1220, 1060, 1190, 1000, 1230, 1010, 1020),
 (1090, 1220, 1160, 1100, 1040, 1170, 950, 1080, 1020, 1060),
 (1100, 1010, 1080, 1050, 1020, 970),
 (1100, 1040, 1200, 1170, 1010, 1080, 1210, 1150, 1000),
 (1100, 1070, 1230, 1040, 1200, 1010, 1020, 990, 1210),
 (1100, 1230, 1040, 1170, 1020, 990, 970),
 (1110, 1100, 1150, 1220),
 (1110, 1180, 1230, 1030),
 (1110, 1210, 1100, 1070, 1240),
 (1110, 1220, 990, 1180),
 (1120, 950, 1030, 1190),
 (1120, 960, 1000, 1160, 970, 1170, 1240, 1020, 1070),
 (1120, 960, 1030, 970, 1100, 1200, 1110, 950, 1210, 1170),
 (1120, 960, 1090, 980, 1020, 1030),
 (1120, 960, 1090, 1060, 1240, 1130),
 (1120, 960, 1090, 1070, 1170, 1110, 1080, 1140),
 (1120, 960, 1160, 1010, 1140, 1080, 1180),
 (1120, 1000, 1130, 1070, 1170, 950, 1020),
 (1120, 1000, 1160, 970, 1040, 1170, 1180, 990, 1210),
 (1120, 1000, 1160, 1070, 1040, 1170, 1140, 990),
 (1120, 1000, 1170, 1140, 1020, 980),
 (1120, 1000, 1230, 1010, 1110, 1050, 1020, 1140),
 (1120, 1000, 1230, 1240, 1020, 1150, 1110),
 (1120, 1020, 1230, 950, 1240, 1050, 1180, 1150, 1130),
 (1120, 1030, 1010, 980, 1140, 1110, 950, 1210, 1050),
 (1120, 1030, 1130, 970, 980, 1110, 1080, 1020, 1200),
 (1120, 1030, 1230, 980, 1210, 990),
 (1120, 1030, 1230, 1200, 1010, 1240, 1020, 1190),
 (1120, 1040, 1010, 950, 1110, 1080, 1020, 1240, 990),
 (1120, 1040, 1200, 1170, 1010, 1110, 990),
 (1120, 1050, 980, 1140, 1110, 1210),
 (1120, 1050, 1030, 970, 1040, 1170, 1010, 1210, 1150),
 (1120, 1060, 970, 1070, 1040, 1010, 1050),
 (1120, 1060, 1100, 1230, 950, 1080, 1020),
 (1120, 1060, 1160, 1000, 1110, 1240, 1050, 1100),
 (1120, 1060, 1190, 1000, 1200, 1040, 1170, 1110),
 (1120, 1060, 1190, 1030, 1080, 1150, 990, 960),
 (1120, 1060, 1220, 1210, 1180, 990, 950),
 (1120, 1070, 1230, 1200, 1080, 990, 1240),
 (1120, 1090, 1010, 1180, 970),
 (1120, 1090, 1030, 970, 1230, 1240, 1050, 1180, 1150, 1040),
 (1120, 1090, 1030, 1160, 1140, 980, 1240, 1020, 1150, 1070),
 (1120, 1090, 1050, 980),
 (1120, 1090, 1060, 1020, 1140, 1240, 1050, 1180, 990, 1030),
 (1120, 1090, 1100, 1230, 1040, 1240),
 (1120, 1090, 1130, 1070, 1040, 1170, 980, 1080, 1150, 1210),
 (1120, 1090, 1190, 990),
 (1120, 1090, 1190, 1040, 1080, 1020, 1150, 1240, 1110),
 (1120, 1090, 1210, 1000, 1100, 1070, 950, 1050, 990, 1110),
 (1120, 1090, 1220, 1190, 1070, 1010, 1110, 1150, 1050),
 (1120, 1090, 1220, 1190, 1100, 1020, 1170, 980, 1210, 1180, 1080),
 (1120, 1130, 1070, 980, 950, 1180, 990, 1100),
 (1120, 1130, 1100, 1200, 1170, 1080, 1020, 1160),
 (1120, 1130, 1180, 1060, 1190),
 (1120, 1130, 1200, 950, 1210, 1020, 990, 1060),
 (1120, 1130, 1200, 1080, 1050, 1240),
 (1120, 1140, 1110, 1130),
 (1120, 1160, 970, 1100, 1070, 1110, 1210, 1180, 1150),
 (1120, 1170, 1140, 1060, 970),
 (1120, 1180, 1150, 1240, 1100),
 (1120, 1190, 1000, 1160, 1200, 1240, 1180),
 (1120, 1190, 1010, 980, 1050, 1230),
 (1120, 1190, 1030, 1000, 1230, 1040, 1110, 1240, 1020),
 (1120, 1190, 1030, 1100, 1040, 980, 1080, 990, 1020),
 (1120, 1190, 1160, 1130, 1110, 1050, 950),
 (1120, 1190, 1160, 1200, 1080, 1130),
 (1120, 1190, 1200, 980, 1110, 1080, 1050, 1240, 970),
 (1120, 1200, 980, 1110, 1030),
 (1120, 1200, 1010, 1240, 1050, 1100),
 (1120, 1200, 1240, 1080, 1020, 1110),
 (1120, 1210, 1020),
 (1120, 1210, 1050, 1200),
 (1120, 1220, 1030, 1190, 970, 1100, 1210, 1020),
 (1120, 1220, 1060, 1230, 1070, 1170, 1080, 1030),
 (1120, 1220, 1150, 1100),
 (1120, 1220, 1200, 1170, 980, 990, 1080, 1150, 1240, 1210),
 (1120, 1230, 1110, 950, 1180),
 (1130, 970, 1230, 1040, 950, 1080, 1210, 1240),
 (1130, 1020, 1070, 1010, 950, 1180),
 (1130, 1040, 1140, 1180, 990, 1010),
 (1130, 1100, 1040, 1140, 1110, 950, 1050, 1020, 960),
 (1130, 1100, 1200, 1170, 1240, 1050, 1220),
 (1130, 1140, 1090),
 (1130, 1140, 1110, 1030),
 (1130, 1200, 1040, 1140, 1210, 1020, 1230),
 (1130, 1230, 1040, 1010, 980, 950, 1110, 1150, 1100),
 (1130, 1230, 1070, 950, 1210, 1020, 1110),
 (1140, 1100, 1110, 1050),
 (1140, 1210, 1100, 970),
 (1140, 1220, 1060, 1120),
 (1150, 1190, 1160, 1070, 980, 1110, 1050, 1180, 990, 970),
 (1160, 970, 1040, 1010, 1240, 1020),
 (1160, 970, 1040, 1170, 950, 1050, 990),
 (1160, 970, 1230, 1140, 980, 1110, 950, 1050, 990),
 (1160, 1000, 1010, 1030, 1120),
 (1160, 1000, 1090, 1070, 970),
 (1160, 1010, 1170, 950, 1110, 1080, 1050, 1060),
 (1160, 1040, 1120, 1190),
 (1160, 1050, 1020, 1150),
 (1160, 1070, 1180, 1230, 990),
 (1160, 1090, 1050, 1020, 1000),
 (1160, 1130, 980, 1240, 1180, 1120),
 (1160, 1130, 1100, 1010),
 (1160, 1130, 1230, 1010, 1180, 1150, 1110),
 (1160, 1140, 950, 1030, 990),
 (1160, 1170, 1100),
 (1160, 1200, 1180, 1230, 960),
 (1160, 1220, 1070),
 (1160, 1220, 1180, 1070),
 (1160, 1230, 1040, 1200, 980, 1110, 1240, 1070),
 (1160, 1230, 1040, 1210, 1180, 1170),
 (1160, 1230, 1170, 1020, 1150, 1100),
 (1170, 980, 1080, 1210, 990),
 (1170, 1140, 1020, 950, 960),
 (1180, 1020, 950, 1030, 1150),
 (1180, 1090, 1190, 1070, 980),
 (1190, 970, 1070, 1040, 1110, 950, 1050),
 (1190, 970, 1130, 1100, 1200, 1210, 1040),
 (1190, 970, 1200, 1140, 1050, 990),
 (1190, 1000, 970, 1100, 1040, 1180, 1240, 1050, 1020, 1150, 980),
 (1190, 1020, 1070, 950, 1050, 1180),
 (1190, 1030, 970, 1230, 980, 1080, 1210, 960),
 (1190, 1030, 1000, 970, 1010, 1140, 1020, 990, 1070),
 (1190, 1030, 1000, 1170, 1110, 1080, 1020),
 (1190, 1030, 1010, 1140, 1080, 1180),
 (1190, 1030, 1100, 1040, 1170, 1110, 1080, 1150),
 (1190, 1040, 1170, 950, 1080, 1050, 970),
 (1190, 1040, 1170, 1010, 1140, 1240, 990, 1160),
 (1190, 1100, 980, 990, 950, 1180, 1150, 1210),
 (1190, 1100, 1010, 1140, 1110, 1080, 960),
 (1190, 1100, 1230, 1200, 1140, 1050),
 (1190, 1130, 1200, 1040, 980, 950, 1110, 1230),
 (1190, 1160, 970, 1200, 980, 1010),
 (1190, 1160, 1000, 1040, 1170, 1140, 1110, 1180, 1150),
 (1190, 1160, 1040, 1210, 990),
 (1190, 1160, 1230, 1200, 980, 1080),
 (1190, 1170, 1110, 1210, 990, 1050),
 (1200, 950, 1240, 1050),
 (1200, 970, 1170, 1020),
 (1200, 970, 1180, 1070, 980),
 (1200, 1000, 980, 1160),
 (1200, 1010, 1190, 1240, 1060),
 (1200, 1010, 1240, 1150),
 (1200, 1040, 1050, 980, 1220),
 (1200, 1050, 1230, 950),
 (1200, 1100, 990, 950, 1190),
 (1200, 1110, 1060, 1070, 1000),
 (1200, 1110, 1230, 1160),
 (1200, 1130, 1100, 1110),
 (1200, 1170, 1120, 1000),
 (1200, 1220, 1110, 1120, 1070),
 (1210, 990, 1030, 1050),
 (1210, 1020, 1150, 1030, 1130),
 (1210, 1090, 1110, 1220),
 (1220, 970, 1040, 1140, 1240, 1110),
 (1220, 1000, 980, 1210, 1020, 1150),
 (1220, 1000, 1130, 1070, 1240, 1150, 970),
 (1220, 1000, 1140, 1050, 1180, 1010),
 (1220, 1030, 1000, 1160, 950, 1110, 1050, 990, 1090),
 (1220, 1030, 1100, 1020, 1230, 1010, 1050, 1180, 1060),
 (1220, 1030, 1160, 1100, 1040, 1170, 950, 1110, 1060),
 (1220, 1030, 1160, 1100, 1230, 1050, 1150),
 (1220, 1030, 1160, 1230, 1150),
 (1220, 1060, 970, 1080, 990),
 (1220, 1060, 1000, 1130, 1100, 1230, 1200, 1040, 1010, 1240, 1120),
 (1220, 1060, 1040, 1170, 1010, 1240, 1180, 1150),
 (1220, 1060, 1190, 1160, 1230, 1200, 1140, 1110, 1210, 1180, 1050),
 (1220, 1100, 1030, 1150),
 (1220, 1100, 1200, 1110, 1020, 1160),
 (1220, 1140, 1150, 1100, 1030),
 (1220, 1160, 1000, 1230, 1200, 1240, 1030),
 (1220, 1160, 1040, 980, 1240, 1180, 1210),
 (1220, 1160, 1100, 950, 1080, 1130),
 (1220, 1170, 1140, 950, 1180, 990, 960),
 (1220, 1190, 1040, 1080, 1050, 1180, 990, 1120),
 (1220, 1190, 1130, 1100, 1040, 1200, 950, 1080, 970),
 (1230, 1010, 950, 1020, 990, 970),
 (1230, 1070, 1040, 1010, 1180, 1190),
 (1240, 970, 1100, 1200),
 (1240, 970, 1130, 1100, 980),
 (1240, 1000, 1010, 1160, 1230),
 (1240, 1010, 1100, 1000),
 (1240, 1010, 1220, 1070),
 (1240, 1050, 1140, 1070, 1000),
 (1240, 1080, 1120, 990, 1150),
 (1240, 1090, 950, 1150, 1020),
 (1240, 1090, 1140, 1070),
 (1240, 1120, 1070, 960),
 (1240, 1130, 1010, 990, 1070),
 (1240, 1130, 1020, 1090),
 (1240, 1170, 1210, 1060),
 (1240, 1210, 1140, 1160)]

In [11]:
series = pd.json_normalize(data['series'])
series

      temperature                                         operations
0            1080  [{'name': 'nagrev', 'timing': 245}, {'name': '...
1             970  [{'name': 'nagrev', 'timing': 62}, {'name': 'o...
2            1080  [{'name': 'nagrev', 'timing': 76}, {'name': 'k...
3             980  [{'name': 'nagrev', 'timing': 96}, {'name': 'o...
4             980  [{'name': 'nagrev', 'timing': 82}, {'name': 'p...
...           ...                                                ...
2589          960  [{'name': 'nagrev', 'timing': 281}, {'name': '...
2590         1060  [{'name': 'nagrev', 'timing': 248}, {'name': '...
2591         1000  [{'name': 'nagrev', 'timing': 182}, {'name': '...
2592         1090  [{'name': 'nagrev', 'timing': 204}, {'name': '...
2593         1020  [{'name': 'nagrev', 'timing': 274}, {'name': '...

[2594 rows x 2 columns]

In [14]:
print(series.iloc[0])

temperature                                                 1080
operations     [{'name': 'nagrev', 'timing': 245}, {'name': '...
Name: 0, dtype: object

In [50]:
# excel 
series = pd.read_excel('.xlsm', sheet_name='')
series

,,,. .,--,". ,",,,,,.1,.2,.3
0,NaN,6AL-4V,Ti,"34-8993-181,2",2.0,2.0,950.0,115-105,105-90,90-90,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2+15,1+15,1+15,NaN,NaN
2,NaN,6AL-4V,Ti,"34-8993-183,4",2.0,2.0,950.0,115-105,105-90,90-90,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2+15,1+15,1+15,NaN,NaN
4,NaN,6AL-4V,Ti,"34-8993-185,6",2.0,2.0,950.0,115-105,105-90,90-90,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3+15,NaN,NaN,NaN,NaN
344,NaN,3-1,Ti,2513-18,2.0,NaN,960.0,220-150,NaN,NaN,NaN,NaN
345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3+15,NaN,NaN,NaN,NaN
346,NaN,3-1,Ti,2523-18,2.0,NaN,960.0,220-150,NaN,NaN,NaN,NaN
347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3+15,NaN,NaN,NaN,NaN

In [51]:
series = series.drop(columns=['', '', '. .', ''])
series

,--,". ,",,,,.1,.2,.3
0,"34-8993-181,2",2.0,950.0,115-105,105-90,90-90,NaN,NaN
1,NaN,NaN,NaN,2+15,1+15,1+15,NaN,NaN
2,"34-8993-183,4",2.0,950.0,115-105,105-90,90-90,NaN,NaN
3,NaN,NaN,NaN,2+15,1+15,1+15,NaN,NaN
4,"34-8993-185,6",2.0,950.0,115-105,105-90,90-90,NaN,NaN
...,...,...,...,...,...,...,...,...
343,NaN,NaN,NaN,3+15,NaN,NaN,NaN,NaN
344,2513-18,2.0,960.0,220-150,NaN,NaN,NaN,NaN
345,NaN,NaN,NaN,3+15,NaN,NaN,NaN,NaN
346,2523-18,2.0,960.0,220-150,NaN,NaN,NaN,NaN
347,NaN,NaN,NaN,3+15,NaN,NaN,NaN,NaN

In [52]:
series.iloc[0, 3:8]
# for i in range(0, 10, 2):
#     print(i)
# series.drop(labels = [1],axis = 0)

        115-105
       105-90
.1      90-90
.2        NaN
.3        NaN
Name: 0, dtype: object

In [53]:
for i in range(0, series.shape[0], 2):
    series.iloc[i, 3:8] = series.iloc[i+1, 3:8]
    # series = series.drop(labels = [i+1],axis = 0)
    
series

,--,". ,",,,,.1,.2,.3
0,"34-8993-181,2",2.0,950.0,2+15,1+15,1+15,NaN,NaN
1,NaN,NaN,NaN,2+15,1+15,1+15,NaN,NaN
2,"34-8993-183,4",2.0,950.0,2+15,1+15,1+15,NaN,NaN
3,NaN,NaN,NaN,2+15,1+15,1+15,NaN,NaN
4,"34-8993-185,6",2.0,950.0,2+15,1+15,1+15,NaN,NaN
...,...,...,...,...,...,...,...,...
343,NaN,NaN,NaN,3+15,NaN,NaN,NaN,NaN
344,2513-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN
345,NaN,NaN,NaN,3+15,NaN,NaN,NaN,NaN
346,2523-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN
347,NaN,NaN,NaN,3+15,NaN,NaN,NaN,NaN

In [54]:
series_clear = series[series.index % 2 != 1]
series_clear

,--,". ,",,,,.1,.2,.3
0,"34-8993-181,2",2.0,950.0,2+15,1+15,1+15,NaN,NaN
2,"34-8993-183,4",2.0,950.0,2+15,1+15,1+15,NaN,NaN
4,"34-8993-185,6",2.0,950.0,2+15,1+15,1+15,NaN,NaN
6,"34-8993-187,8",2.0,950.0,2+15,1+15,1+15,NaN,NaN
8,"34-8993-189,10",2.0,950.0,2+15,1+15,1+15,NaN,NaN
...,...,...,...,...,...,...,...,...
338,34-8973-18,1.0,1100.0,3+15,NaN,NaN,NaN,NaN
340,2483-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN
342,2493-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN
344,2513-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN
346,2523-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN

In [57]:
series_reindex = series_clear.reset_index(drop=True)
series_reindex

,--,". ,",,,,.1,.2,.3
0,"34-8993-181,2",2.0,950.0,2+15,1+15,1+15,NaN,NaN
1,"34-8993-183,4",2.0,950.0,2+15,1+15,1+15,NaN,NaN
2,"34-8993-185,6",2.0,950.0,2+15,1+15,1+15,NaN,NaN
3,"34-8993-187,8",2.0,950.0,2+15,1+15,1+15,NaN,NaN
4,"34-8993-189,10",2.0,950.0,2+15,1+15,1+15,NaN,NaN
...,...,...,...,...,...,...,...,...
169,34-8973-18,1.0,1100.0,3+15,NaN,NaN,NaN,NaN
170,2483-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN
171,2493-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN
172,2513-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN
173,2523-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN

In [58]:
series_with_op = series_reindex
series_with_op

,--,". ,",,,,.1,.2,.3
0,"34-8993-181,2",2.0,950.0,2+15,1+15,1+15,NaN,NaN
1,"34-8993-183,4",2.0,950.0,2+15,1+15,1+15,NaN,NaN
2,"34-8993-185,6",2.0,950.0,2+15,1+15,1+15,NaN,NaN
3,"34-8993-187,8",2.0,950.0,2+15,1+15,1+15,NaN,NaN
4,"34-8993-189,10",2.0,950.0,2+15,1+15,1+15,NaN,NaN
...,...,...,...,...,...,...,...,...
169,34-8973-18,1.0,1100.0,3+15,NaN,NaN,NaN,NaN
170,2483-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN
171,2493-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN
172,2513-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN
173,2523-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN

In [59]:
import numpy as np

In [61]:
series_with_op['_operation_1'] = series_with_op[''].apply(lambda x: int(x[0]) if type(x) == str else np.NaN)
series_with_op

,--,". ,",,,,.1,.2,.3,_operation_1
0,"34-8993-181,2",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2
1,"34-8993-183,4",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2
2,"34-8993-185,6",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2
3,"34-8993-187,8",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2
4,"34-8993-189,10",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...
169,34-8973-18,1.0,1100.0,3+15,NaN,NaN,NaN,NaN,3
170,2483-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN,3
171,2493-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN,3
172,2513-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN,3
173,2523-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN,3

In [62]:
series_with_op['_operation_2'] = series_with_op[''].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='' else np.NaN)
series_with_op

,--,". ,",,,,.1,.2,.3,_operation_1,_operation_2
0,"34-8993-181,2",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2,0.25
1,"34-8993-183,4",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2,0.25
2,"34-8993-185,6",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2,0.25
3,"34-8993-187,8",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2,0.25
4,"34-8993-189,10",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2,0.25
...,...,...,...,...,...,...,...,...,...,...
169,34-8973-18,1.0,1100.0,3+15,NaN,NaN,NaN,NaN,3,NaN
170,2483-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN,3,NaN
171,2493-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN,3,NaN
172,2513-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN,3,NaN
173,2523-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN,3,NaN

In [63]:
series_with_op['_operation_3'] = series_with_op[''].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='' else np.NaN)
series_with_op

,--,". ,",,,,.1,.2,.3,_operation_1,_operation_2,_operation_3
0,"34-8993-181,2",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2,0.25,NaN
1,"34-8993-183,4",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2,0.25,NaN
2,"34-8993-185,6",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2,0.25,NaN
3,"34-8993-187,8",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2,0.25,NaN
4,"34-8993-189,10",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2,0.25,NaN
...,...,...,...,...,...,...,...,...,...,...,...
169,34-8973-18,1.0,1100.0,3+15,NaN,NaN,NaN,NaN,3,NaN,0.25
170,2483-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN,3,NaN,0.25
171,2493-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN,3,NaN,0.25
172,2513-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN,3,NaN,0.25
173,2523-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN,3,NaN,0.25

In [64]:
for i in [4, 7, 10, 13]:
    if i==4:
        series_with_op[f'_operation_{i}'] = series_with_op[''].apply(lambda x: int(x[0]) if type(x) == str else np.NaN)
        series_with_op[f'_operation_{i+1}'] = series_with_op[''].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='' else np.NaN)
        series_with_op[f'_operation_{i+2}'] = series_with_op[''].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='' else np.NaN)
    elif i==7:
        series_with_op[f'_operation_{i}'] = series_with_op[f'.1'].apply(lambda x: int(x[0]) if type(x) == str else np.NaN)
        series_with_op[f'_operation_{i+1}'] = series_with_op[f'.1'].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='' else np.NaN)
        series_with_op[f'_operation_{i+2}'] = series_with_op[f'.1'].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='' else np.NaN)
    elif i==10:
        series_with_op[f'_operation_{i}'] = series_with_op[f'.2'].apply(lambda x: int(x[0]) if type(x) == str else np.NaN)
        series_with_op[f'_operation_{i+1}'] = series_with_op[f'.2'].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='' else np.NaN)
        series_with_op[f'_operation_{i+2}'] = series_with_op[f'.2'].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='' else np.NaN)
    elif i==13:
        series_with_op[f'_operation_{i}'] = series_with_op[f'.3'].apply(lambda x: int(x[0]) if type(x) == str else np.NaN)
        series_with_op[f'_operation_{i+1}'] = series_with_op[f'.3'].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='' else np.NaN)
        series_with_op[f'_operation_{i+2}'] = series_with_op[f'.3'].apply(lambda x: float(1/4) if type(x) == str and x.split()[-1]=='' else np.NaN)
        
series_with_op

,--,". ,",,,,.1,.2,.3,_operation_1,_operation_2,...,_operation_6,_operation_7,_operation_8,_operation_9,_operation_10,_operation_11,_operation_12,_operation_13,_operation_14,_operation_15
0,"34-8993-181,2",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2,0.25,...,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"34-8993-183,4",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2,0.25,...,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"34-8993-185,6",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2,0.25,...,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"34-8993-187,8",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2,0.25,...,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"34-8993-189,10",2.0,950.0,2+15,1+15,1+15,NaN,NaN,2,0.25,...,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,34-8973-18,1.0,1100.0,3+15,NaN,NaN,NaN,NaN,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,2483-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,2493-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,2513-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,2523-18,2.0,960.0,3+15,NaN,NaN,NaN,NaN,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
series_with_op_clear = series_with_op.drop(columns=['', '', '.1', '.2', '.3'])
series_with_op_clear

,--,". ,",,_operation_1,_operation_2,_operation_3,_operation_4,_operation_5,_operation_6,_operation_7,_operation_8,_operation_9,_operation_10,_operation_11,_operation_12,_operation_13,_operation_14,_operation_15
0,"34-8993-181,2",2.0,950.0,2,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"34-8993-183,4",2.0,950.0,2,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"34-8993-185,6",2.0,950.0,2,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"34-8993-187,8",2.0,950.0,2,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"34-8993-189,10",2.0,950.0,2,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,34-8973-18,1.0,1100.0,3,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,2483-18,2.0,960.0,3,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,2493-18,2.0,960.0,3,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,2513-18,2.0,960.0,3,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,2523-18,2.0,960.0,3,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
series_with_op_clear.describe()

,". ,",,_operation_1,_operation_2,_operation_3,_operation_4,_operation_5,_operation_6,_operation_7,_operation_8,_operation_9,_operation_10,_operation_11,_operation_12,_operation_13,_operation_14,_operation_15
count,174.000000,174.000000,174.000000,123.00,48.00,84.000000,84.00,0.0,66.000000,66.00,0.0,12.000000,12.00,0.0,0.0,0.0,0.0
mean,1.488506,967.413793,3.011494,0.25,0.25,1.083333,0.25,NaN,0.909091,0.25,NaN,0.833333,0.25,NaN,NaN,NaN,NaN
std,0.501310,69.711885,1.299126,0.00,0.00,0.605364,0.00,NaN,0.289683,0.00,NaN,0.389249,0.00,NaN,NaN,NaN,NaN
min,1.000000,750.000000,1.000000,0.25,0.25,0.000000,0.25,NaN,0.000000,0.25,NaN,0.000000,0.25,NaN,NaN,NaN,NaN
25%,1.000000,950.000000,2.000000,0.25,0.25,1.000000,0.25,NaN,1.000000,0.25,NaN,1.000000,0.25,NaN,NaN,NaN,NaN
50%,1.000000,955.000000,3.000000,0.25,0.25,1.000000,0.25,NaN,1.000000,0.25,NaN,1.000000,0.25,NaN,NaN,NaN,NaN
75%,2.000000,960.000000,3.000000,0.25,0.25,1.000000,0.25,NaN,1.000000,0.25,NaN,1.000000,0.25,NaN,NaN,NaN,NaN
max,2.000000,1100.000000,6.000000,0.25,0.25,4.000000,0.25,NaN,1.000000,0.25,NaN,1.000000,0.25,NaN,NaN,NaN,NaN

In [70]:
series_with_op_clear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   --  174 non-null    object
 1   .  ,       174 non-null    float64
 2              174 non-null    float64
 3   _operation_1    174 non-null    int64
 4   _operation_2     123 non-null    float64
 5   _operation_3    48 non-null     float64
 6   _operation_4    84 non-null     float64
 7   _operation_5     84 non-null     float64
 8   _operation_6    0 non-null      float64
 9   _operation_7    66 non-null     float64
 10  _operation_8     66 non-null     float64
 11  _operation_9    0 non-null      float64
 12  _operation_10   12 non-null     float64
 13  _operation_11    12 non-null     float64
 14  _operation_12   0 non-null      float64
 15  _operation_13   0 non-null      float64
 16  _operation_14    0 non-null      float64
 17  _operation_15   0 non-null      float64
dtypes: float64(16), int64(1), object(1)
memory usage: 24.6+ KB

In [72]:
series_with_op_clear['_operation_1'] = series_with_op_clear['_operation_1'].astype(float)
series_with_op_clear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   --  174 non-null    object
 1   .  ,       174 non-null    float64
 2              174 non-null    float64
 3   _operation_1    174 non-null    float64
 4   _operation_2     123 non-null    float64
 5   _operation_3    48 non-null     float64
 6   _operation_4    84 non-null     float64
 7   _operation_5     84 non-null     float64
 8   _operation_6    0 non-null      float64
 9   _operation_7    66 non-null     float64
 10  _operation_8     66 non-null     float64
 11  _operation_9    0 non-null      float64
 12  _operation_10   12 non-null     float64
 13  _operation_11    12 non-null     float64
 14  _operation_12   0 non-null      float64
 15  _operation_13   0 non-null      float64
 16  _operation_14    0 non-null      float64
 17  _operation_15   0 non-null      float64
dtypes: float64(17), object(1)
memory usage: 24.6+ KB

In [74]:
series_with_op_clear['--'] = series_with_op_clear['--'].astype('string')
series_with_op_clear.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   --  174 non-null    string
 1   .  ,       174 non-null    float64
 2              174 non-null    float64
 3   _operation_1    174 non-null    float64
 4   _operation_2     123 non-null    float64
 5   _operation_3    48 non-null     float64
 6   _operation_4    84 non-null     float64
 7   _operation_5     84 non-null     float64
 8   _operation_6    0 non-null      float64
 9   _operation_7    66 non-null     float64
 10  _operation_8     66 non-null     float64
 11  _operation_9    0 non-null      float64
 12  _operation_10   12 non-null     float64
 13  _operation_11    12 non-null     float64
 14  _operation_12   0 non-null      float64
 15  _operation_13   0 non-null      float64
 16  _operation_14    0 non-null      float64
 17  _operation_15   0 non-null      float64
dtypes: float64(17), string(1)
memory usage: 24.6 KB

In [75]:
series_done = series_with_op_clear
series_done

,--,". ,",,_operation_1,_operation_2,_operation_3,_operation_4,_operation_5,_operation_6,_operation_7,_operation_8,_operation_9,_operation_10,_operation_11,_operation_12,_operation_13,_operation_14,_operation_15
0,"34-8993-181,2",2.0,950.0,2.0,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"34-8993-183,4",2.0,950.0,2.0,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"34-8993-185,6",2.0,950.0,2.0,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"34-8993-187,8",2.0,950.0,2.0,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"34-8993-189,10",2.0,950.0,2.0,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,34-8973-18,1.0,1100.0,3.0,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,2483-18,2.0,960.0,3.0,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,2493-18,2.0,960.0,3.0,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,2513-18,2.0,960.0,3.0,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,2523-18,2.0,960.0,3.0,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
series_done.to_csv('series_done.csv')

In [186]:
test_df = pd.read_csv('series_done.csv', index_col=0)
test_df

,--,". ,",,_operation_1,_operation_2,_operation_3,_operation_4,_operation_5,_operation_6,_operation_7,_operation_8,_operation_9,_operation_10,_operation_11,_operation_12,_operation_13,_operation_14,_operation_15
0,"34-8993-181,2",2.0,950.0,2.0,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"34-8993-183,4",2.0,950.0,2.0,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"34-8993-185,6",2.0,950.0,2.0,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"34-8993-187,8",2.0,950.0,2.0,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"34-8993-189,10",2.0,950.0,2.0,0.25,NaN,1.0,0.25,NaN,1.0,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,34-8973-18,1.0,1100.0,3.0,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,2483-18,2.0,960.0,3.0,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,2493-18,2.0,960.0,3.0,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,2513-18,2.0,960.0,3.0,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,2523-18,2.0,960.0,3.0,NaN,0.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [187]:
test_df = pd.read_csv('ovens_done.csv', index_col=0)
test_df

,name,,,,1000,1060,1100,750,820,830,840,860,870,940,950,960,980
0,2,1,0,0,0,1,0,0,0,1,0,1,0,0,1,1,0
1,3,1,0,0,1,0,0,0,1,0,0,1,0,0,1,1,0
2,10,1,0,0,0,0,0,0,0,0,1,0,1,0,1,1,0
3,15,1,0,0,0,0,0,0,0,0,1,0,1,0,1,1,0
4,20,0,1,1,0,1,0,1,0,0,0,0,0,1,0,1,1
5,21,1,0,1,0,1,1,0,0,0,0,0,0,0,1,1,0
6,22,1,0,1,0,1,1,0,0,0,0,0,0,0,1,1,1

In [76]:
blank = pd.read_excel('.xlsm', sheet_name='')
blank

,,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100,Unnamed: 101,Unnamed: 102
0,,-,.,,. -,. -,23-0.,NaN,NaN,NaN,...,NaN,21-22.,NaN,NaN,NaN,22-23.,NaN,NaN,NaN,23-0.
1,2,"960, 950, 830, 860, 1060",,NaN,1060,NaN,"3AL-2,5V, 15143-18",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,[440-385].1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,1060'C 1.,NaN,NaN,NaN,...,NaN,NaN,K,K,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,3,"960, 950, 860, 820, 1000",,NaN,960,NaN,"110, 714-18-1",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,[440-390].,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,960'C 1.,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,K,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,10,"960, 950, 840, 870",,NaN,950,NaN,"6AL-4V, 34-15023-18 1",NaN,NaN,NaN,...,NaN,NaN,NaN,"6AL-4V, 34-8743-18",NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,[235-205].2,NaN,NaN,NaN,...,NaN,NaN,NaN,[105-105].1,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,950'C 1.,NaN,NaN,NaN,...,K,K,NaN,950'C 2.,NaN,NaN,NaN,K,K,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,15,"960, 950, 840, 870",,NaN,950,1060,NaN,"6AL-4V, 34-15023-18",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[235-205].,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,950'C 2.,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,20,"1060, 980, 940, 960, 750",",",NaN,980,950,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,21,"1100, 1060, 960, 950",",",NaN,950,NaN,NaN,NaN,NaN,"6AL-4V, 34-8923-18 3",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[235-205].,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,950'C 1.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,22,"1100, 1060, 980, 960, 950",",",NaN,1060,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,,NaN,NaN,48,.,NaN,NaN,NaN,NaN,NaN,...,1,1,1,1,NaN,NaN,1,1,1,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,-500,NaN,NaN,12,.,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,1,NaN
47,,NaN,NaN,60,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,- ( ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
type(blank.iloc[2][0])

float

In [90]:
float('nan')

nan

In [161]:
blank_non_NaN = blank.dropna(how='all')[[' ', 'Unnamed: 1', 'Unnamed: 2']]
blank_non_NaN

,,Unnamed: 1,Unnamed: 2
0,,-,.
1,2,"960, 950, 830, 860, 1060",
2,NaN,NaN,NaN
3,NaN,NaN,NaN
7,3,"960, 950, 860, 820, 1000",
8,NaN,NaN,NaN
9,NaN,NaN,NaN
13,10,"960, 950, 840, 870",
14,NaN,NaN,NaN
15,NaN,NaN,NaN
19,15,"960, 950, 840, 870",
20,NaN,NaN,NaN
21,NaN,NaN,NaN
25,20,"1060, 980, 940, 960, 750",","
26,NaN,NaN,NaN
27,NaN,NaN,NaN
31,21,"1100, 1060, 960, 950",","
32,NaN,NaN,NaN
33,NaN,NaN,NaN
37,22,"1100, 1060, 980, 960, 950",","
38,NaN,NaN,NaN
39,NaN,NaN,NaN
44,,NaN,NaN
46,-500,NaN,NaN
47,,NaN,NaN
50,NaN,,NaN
51,NaN,,NaN
52,NaN,,NaN
53,NaN,,NaN
54,NaN,,NaN
55,NaN,,NaN
56,NaN,- ( ...,NaN
57,NaN,,NaN

In [162]:
# in [1, 7, 13, 19, 25, 31, 37]
blank_non_NaN = blank_non_NaN[((blank_non_NaN.index-1)%6==0)&(blank_non_NaN.index<=37)]
blank_non_NaN

                     Unnamed: 1      Unnamed: 2
1     2   960, 950, 830, 860, 1060
7     3   960, 950, 860, 820, 1000
13   10         960, 950, 840, 870
19   15         960, 950, 840, 870
25   20   1060, 980, 940, 960, 750   ,
31   21       1100, 1060, 960, 950  ,
37   22  1100, 1060, 980, 960, 950   ,

In [163]:
blank_reset_index = blank_non_NaN.reset_index(drop=True)
blank_reset_index

                    Unnamed: 1      Unnamed: 2
0    2   960, 950, 830, 860, 1060
1    3   960, 950, 860, 820, 1000
2   10         960, 950, 840, 870
3   15         960, 950, 840, 870
4   20   1060, 980, 940, 960, 750   ,
5   21       1100, 1060, 960, 950  ,
6   22  1100, 1060, 980, 960, 950   ,

In [164]:
blank_reset_index.columns=['name', 'temp', 'operation']
blank_reset_index

       name                       temp       operation
0    2   960, 950, 830, 860, 1060
1    3   960, 950, 860, 820, 1000
2   10         960, 950, 840, 870
3   15         960, 950, 840, 870
4   20   1060, 980, 940, 960, 750   ,
5   21       1100, 1060, 960, 950  ,
6   22  1100, 1060, 980, 960, 950   ,

In [165]:
blank_reset_index[['temp', 'operation']]

                        temp       operation
0   960, 950, 830, 860, 1060
1   960, 950, 860, 820, 1000
2         960, 950, 840, 870
3         960, 950, 840, 870
4   1060, 980, 940, 960, 750   ,
5       1100, 1060, 960, 950  ,
6  1100, 1060, 980, 960, 950   ,

In [166]:
def foo1(x):
    return list(x.replace(',', '').split())
blank_reset_index['temp'] = blank_reset_index['temp'].apply(foo1)
blank_reset_index['operation'] = blank_reset_index['operation'].apply(foo1)
# list('1, 2, 3'.replace(',', '').split())
blank_reset_index

       name                         temp        operation
0    2   [960, 950, 830, 860, 1060]          []
1    3   [960, 950, 860, 820, 1000]          []
2   10         [960, 950, 840, 870]          []
3   15         [960, 950, 840, 870]          []
4   20   [1060, 980, 940, 960, 750]  [, ]
5   21       [1100, 1060, 960, 950]  [, ]
6   22  [1100, 1060, 980, 960, 950]  [, ]

In [123]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(blank_reset_index[])
enc.transform(blank_reset_index[['temp', 'operation']]).toarray()

array([[0., 0., 0., 1., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 1., 0.]])

In [139]:
# enc.categories_
for row in ['temp', 'operation']:
    enc = OneHotEncoder(handle_unknown='ignore')
    enc.fit(blank_reset_index[[row]])
    blank_reset_index[enc.categories_[0]] = enc.transform(blank_reset_index[[row]]).toarray()

blank_reset_index

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['list']

In [151]:
blank_reset_index

       name        operation
0    2          []
1    3          []
2   10          []
3   15          []
4   20  [, ]
5   21  [, ]
6   22  [, ]

In [160]:
df

       name
0    2      1      0       0
1    3      1      0       0
2   10      1      0       0
3   15      1      0       0
4   20      0      1       1
5   21      1      0       1
6   22      1      0       1

In [167]:
df1 = df.copy()

In [170]:
df2 = df.copy()
df2

,name,operation,1000,1060,1100,750,820,830,840,860,870,940,950,960,980
0,2,[],0,1,0,0,0,1,0,1,0,0,1,1,0
1,3,[],1,0,0,0,1,0,0,1,0,0,1,1,0
2,10,[],0,0,0,0,0,0,1,0,1,0,1,1,0
3,15,[],0,0,0,0,0,0,1,0,1,0,1,1,0
4,20,"[, ]",0,1,0,1,0,0,0,0,0,1,0,1,1
5,21,"[, ]",0,1,1,0,0,0,0,0,0,0,1,1,0
6,22,"[, ]",0,1,1,0,0,0,0,0,0,0,1,1,1

In [172]:
df = pd.merge([df1, df2[['name','1000','1060','1100','750','820','830','840','860','870','940','950','960','980']]], left_on='name', right_on='name')
df

TypeError: merge() missing 1 required positional argument: 'right'

In [178]:
pd.concat([df1, df2[['1000','1060','1100','750','820','830','840','860','870','940','950','960','980']]])
df_res = df1.merge(df2, left_on='name', right_on='name', how='inner')
df_res = df_res.drop(columns=['operation'])
df_res

,name,,,,1000,1060,1100,750,820,830,840,860,870,940,950,960,980
0,2,1,0,0,0,1,0,0,0,1,0,1,0,0,1,1,0
1,3,1,0,0,1,0,0,0,1,0,0,1,0,0,1,1,0
2,10,1,0,0,0,0,0,0,0,0,1,0,1,0,1,1,0
3,15,1,0,0,0,0,0,0,0,0,1,0,1,0,1,1,0
4,20,0,1,1,0,1,0,1,0,0,0,0,0,1,0,1,1
5,21,1,0,1,0,1,1,0,0,0,0,0,0,0,1,1,0
6,22,1,0,1,0,1,1,0,0,0,0,0,0,0,1,1,1

In [179]:
df_res.to_csv('ovens_done.csv')

In [169]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer(sparse_output=True)
df = blank_reset_index
df = df.join(
            pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(df.pop('temp')),
                index=df.index,
                columns=mlb.classes_))
# print(mlb.classes_)
df

,name,operation,1000,1060,1100,750,820,830,840,860,870,940,950,960,980
0,2,[],0,1,0,0,0,1,0,1,0,0,1,1,0
1,3,[],1,0,0,0,1,0,0,1,0,0,1,1,0
2,10,[],0,0,0,0,0,0,1,0,1,0,1,1,0
3,15,[],0,0,0,0,0,0,1,0,1,0,1,1,0
4,20,"[, ]",0,1,0,1,0,0,0,0,0,1,0,1,1
5,21,"[, ]",0,1,1,0,0,0,0,0,0,0,1,1,0
6,22,"[, ]",0,1,1,0,0,0,0,0,0,0,1,1,1

In [127]:
df = blank_reset_index
from sklearn.compose import make_column_transformer
transformer = make_column_transformer(
    (OneHotEncoder(), ['temp', 'operation']),
    remainder='passthrough')

transformed = transformer.fit_transform(df)
transformed_df = pd.DataFrame(transformed, columns=transformer.get_feature_names())
print(transformed_df.head())

ValueError: For a sparse output, all columns should be a numeric or convertible to a numeric.

In [ ]:
blank_reset_index[['temp', 'operation']]

In [105]:

for i in blank.iterrows():
    print(i)
    if i[0] is not float('nan'):
        blank_non_NaN.loc[ len(df.index )] = i
    # df.loc[ len(df.index )] = [value1, value2, value3, ...]
# blank_non_NaN = blank['' in blank.index]
# blank_non_NaN
blank_non_NaN

(0,
Unnamed: 1           -
Unnamed: 2          .
Unnamed: 3
Unnamed: 4      . -
                  ...
Unnamed: 98       22-23.
Unnamed: 99           NaN
Unnamed: 100          NaN
Unnamed: 101          NaN
Unnamed: 102       23-0.
Name: 0, Length: 103, dtype: object)

ValueError: cannot set a row with mismatched columns

In [188]:
#  json
ovens = pd.json_normalize(data['ovens'])
ovens

,start_temp,working_temps,operations
0,1220,"[960, 1030, 1190, 1100, 1230, 1070, 1110, 1080...","[prokat, kovka]"
1,990,"[980, 1190, 1030, 1100, 990]","[otzhig, kovka]"
2,1220,"[970, 1060, 1220]",[otzhig]
3,1020,"[1060, 1100, 1140, 1240, 1150, 1020]",[kovka]
4,1020,"[970, 1100, 1070, 980, 1180, 990, 1020]",[otzhig]
...,...,...,...
417,1240,"[960, 1040, 1180, 1070, 1240]",[kovka]
418,1050,"[1030, 1160, 1040, 980, 1110, 1020, 990, 1050]",[prokat]
419,1140,"[1060, 1230, 1040, 1170, 990, 1140]",[kovka]
420,950,"[1030, 1190, 1160, 1070, 980, 950]",[prokat]
421,1150,"[1220, 1030, 1160, 1100, 1230, 1050, 1150]","[otzhig, prokat]"

In [189]:
series = pd.json_normalize(data['series'])
series

      temperature                                         operations
0            1080  [{'name': 'nagrev', 'timing': 245}, {'name': '...
1             970  [{'name': 'nagrev', 'timing': 62}, {'name': 'o...
2            1080  [{'name': 'nagrev', 'timing': 76}, {'name': 'k...
3             980  [{'name': 'nagrev', 'timing': 96}, {'name': 'o...
4             980  [{'name': 'nagrev', 'timing': 82}, {'name': 'p...
...           ...                                                ...
2589          960  [{'name': 'nagrev', 'timing': 281}, {'name': '...
2590         1060  [{'name': 'nagrev', 'timing': 248}, {'name': '...
2591         1000  [{'name': 'nagrev', 'timing': 182}, {'name': '...
2592         1090  [{'name': 'nagrev', 'timing': 204}, {'name': '...
2593         1020  [{'name': 'nagrev', 'timing': 274}, {'name': '...

[2594 rows x 2 columns]

In [191]:
def foo3(op_list):
    return pd.DataFrame(op_list)

foo3(series.iloc[0, 1])

     name  timing
0  nagrev     245
1  prokat      15

In [ ]:
mlb = MultiLabelBinarizer(sparse_output=True)
df = blank_reset_index
df = df.join(
            pd.DataFrame.sparse.from_spmatrix(
                mlb.fit_transform(df.pop('temp')),
                index=df.index,
                columns=mlb.classes_))
# print(mlb.classes_)
df